#status {
    background: #aaa;
    border-top: solid 2px #888;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

div.center1 {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  /* border: 1px solid red; */
  display: flex; 
  justify-content: center;
}
div.center2 {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  /*
  border: 1px solid red;
  display: flex;
  */
}

hr {
  margin: 10px;
}