<?xml version="1.0" encoding="utf-8" ?>
<Theme previewImageUrl="~/themes/blogs/paperclip/preview.png" previewText="Includes variations for Cactus, Fall, Summer, and Winter and options for customizing fonts, colors, and images. Also allows CSS to be overridden.">
  <Configuration>
    <Weblogs>
      <MediaSize maxWidth="550" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
  </Configuration>
  <DynamicConfiguration>
    <propertyGroup id="themeVariation" text="Variations / General">
      <propertySubGroup text="Theme Variations">
        <property id="secondaryCssUrl" text="Variation" dataType="url" defaultValue="~/themes/blogs/paperclip/style/summer.css" descriptionText="Select a predefined theme variation.  When the variation is changed, any options that have not been customized will be updated to reflect the variation's predefined values.">
          <propertyValue value="~/themes/blogs/paperclip/style/cactus.css" text="Cactus" />
          <propertyValue value="~/themes/blogs/paperclip/style/fall.css" text="Fall" />
          <propertyValue value="~/themes/blogs/paperclip/style/summer.css" text="Summer" />
          <propertyValue value="~/themes/blogs/paperclip/style/winter.css" text="Winter" />
          <propertyRule type="Telligent.DynamicConfiguration.Rules.ValueAutomationRule, Telligent.DynamicConfiguration" processImmediately="true">
            <checkValue value="~/themes/blogs/paperclip/style/cactus.css">
              <setValue id="textColor" value="#000000" />
              <setValue id="textFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="linkColor" value="#006ff7" />
              <setValue id="visitedLinkColor" value="#006ff7" />
              <setValue id="activeLinkColor" value="#006ff7" />
              <setValue id="siteBackgroundColor" value="#002940" />
              <setValue id="siteBackgroundImage" value="" />
              <setValue id="siteTitleBackgroundImage" value="~/themes/blogs/paperclip/images/cactus-title.jpg" />
              <setValue id="siteTitleColor" value="#735c35" />
              <setValue id="siteTitleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="siteTitleFontSize" value="14px" />
              <setValue id="navigationTabTextColor" value="#ffffff" />
              <setValue id="navigationTabBackgroundColor" value="#666666" />
              <setValue id="navigationTabBackgroundBulletImage" value="~/themes/blogs/paperclip/images/cactus-nav-bul.gif" />
              <setValue id="navigationTabBackgroundImage" value="~/themes/blogs/paperclip/images/cactus-nav-background.jpg" />
              <setValue id="titleColor" value="#529e00" />
              <setValue id="titleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="titleFontSize" value="1.8em" />
              <setValue id="subTitleColor" value="#529e00" />
              <setValue id="subTitleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="subTitleFontSize" value="1.5em" />
              <setValue id="sidebarHeaderTextColor" value="#000000" />
              <setValue id="sidebarHeaderFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="sidebarHeaderFontSize" value="1.1em" />
              <setValue id="sidebarTextColor" value="#7c95b3" />
              <setValue id="sidebarFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="sidebarFontSize" value=".9em" />
              <setValue id="sidebarLinkColor" value="#7c95b3" />
              <setValue id="sidebarVisitedLinkColor" value="#7c95b3" />
              <setValue id="sidebarActiveLinkColor" value="#7c95b3" />
            </checkValue>
            <checkValue value="~/themes/blogs/paperclip/style/fall.css">
              <setValue id="textColor" value="#000000" />
              <setValue id="textFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="linkColor" value="#dd4a21" />
              <setValue id="visitedLinkColor" value="#dd4a21" />
              <setValue id="activeLinkColor" value="#dd4a21" />
              <setValue id="siteBackgroundColor" value="#5a543a" />
              <setValue id="siteBackgroundImage" value="" />
              <setValue id="siteTitleBackgroundImage" value="~/themes/blogs/paperclip/images/fall-title.jpg" />
              <setValue id="siteTitleColor" value="#363a33" />
              <setValue id="siteTitleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="siteTitleFontSize" value="14px" />
              <setValue id="navigationTabTextColor" value="#ffffff" />
              <setValue id="navigationTabBackgroundColor" value="#666666" />
              <setValue id="navigationTabBackgroundBulletImage" value="~/themes/blogs/paperclip/images/fall-nav-bul.gif" />
              <setValue id="navigationTabBackgroundImage" value="~/themes/blogs/paperclip/images/fall-nav-background.jpg" />
              <setValue id="titleColor" value="#e27817" />
              <setValue id="titleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="titleFontSize" value="1.8em" />
              <setValue id="subTitleColor" value="#e27817" />
              <setValue id="subTitleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="subTitleFontSize" value="1.5em" />
              <setValue id="sidebarHeaderTextColor" value="#000000" />
              <setValue id="sidebarHeaderFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="sidebarHeaderFontSize" value="1.1em" />
              <setValue id="sidebarTextColor" value="#a99238" />
              <setValue id="sidebarFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="sidebarFontSize" value=".9em" />
              <setValue id="sidebarLinkColor" value="#a99238" />
              <setValue id="sidebarVisitedLinkColor" value="#a99238" />
              <setValue id="sidebarActiveLinkColor" value="#a99238" />
            </checkValue>
            <checkValue value="~/themes/blogs/paperclip/style/summer.css">
              <setValue id="textColor" value="#000000" />
              <setValue id="textFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="linkColor" value="#006ff7" />
              <setValue id="visitedLinkColor" value="#006ff7" />
              <setValue id="activeLinkColor" value="#006ff7" />
              <setValue id="siteBackgroundColor" value="#5a543a" />
              <setValue id="siteBackgroundImage" value="" />
              <setValue id="siteTitleBackgroundImage" value="~/themes/blogs/paperclip/images/summer-title.jpg" />
              <setValue id="siteTitleColor" value="#735c35" />
              <setValue id="siteTitleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="siteTitleFontSize" value="14px" />
              <setValue id="navigationTabTextColor" value="#ffffff" />
              <setValue id="navigationTabBackgroundColor" value="#666666" />
              <setValue id="navigationTabBackgroundBulletImage" value="~/themes/blogs/paperclip/images/summer-nav-bul.gif" />
              <setValue id="navigationTabBackgroundImage" value="~/themes/blogs/paperclip/images/summer-nav-background.jpg" />
              <setValue id="titleColor" value="#529e00" />
              <setValue id="titleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="titleFontSize" value="1.8em" />
              <setValue id="subTitleColor" value="#529e00" />
              <setValue id="subTitleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="subTitleFontSize" value="1.5em" />
              <setValue id="sidebarHeaderTextColor" value="#000000" />
              <setValue id="sidebarHeaderFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="sidebarHeaderFontSize" value="1.1em" />
              <setValue id="sidebarTextColor" value="#a99238" />
              <setValue id="sidebarFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="sidebarFontSize" value=".9em" />
              <setValue id="sidebarLinkColor" value="#a99238" />
              <setValue id="sidebarVisitedLinkColor" value="#a99238" />
              <setValue id="sidebarActiveLinkColor" value="#a99238" />
            </checkValue>
            <checkValue value="~/themes/blogs/paperclip/style/winter.css">
              <setValue id="textColor" value="#000000" />
              <setValue id="textFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="linkColor" value="#0065e2" />
              <setValue id="visitedLinkColor" value="#0065e2" />
              <setValue id="activeLinkColor" value="#0065e2" />
              <setValue id="siteBackgroundColor" value="#132733" />
              <setValue id="siteBackgroundImage" value="" />
              <setValue id="siteTitleBackgroundImage" value="~/themes/blogs/paperclip/images/winter-title.jpg" />
              <setValue id="siteTitleColor" value="#735c35" />
              <setValue id="siteTitleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="siteTitleFontSize" value="14px" />
              <setValue id="navigationTabTextColor" value="#ffffff" />
              <setValue id="navigationTabBackgroundColor" value="#666666" />
              <setValue id="navigationTabBackgroundBulletImage" value="~/themes/blogs/paperclip/images/winter-nav-bul.gif" />
              <setValue id="navigationTabBackgroundImage" value="~/themes/blogs/paperclip/images/winter-nav-background.jpg" />
              <setValue id="titleColor" value="#006ff7" />
              <setValue id="titleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="titleFontSize" value="1.8em" />
              <setValue id="subTitleColor" value="#006ff7" />
              <setValue id="subTitleFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="subTitleFontSize" value="1.5em" />
              <setValue id="sidebarHeaderTextColor" value="#000000" />
              <setValue id="sidebarHeaderFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="sidebarHeaderFontSize" value="1.1em" />
              <setValue id="sidebarTextColor" value="#7c95b3" />
              <setValue id="sidebarFont" value="Tahoma, Arial, Helvetica" />
              <setValue id="sidebarFontSize" value=".9em" />
              <setValue id="sidebarLinkColor" value="#7c95b3" />
              <setValue id="sidebarVisitedLinkColor" value="#7c95b3" />
              <setValue id="sidebarActiveLinkColor" value="#7c95b3" />
            </checkValue>
          </propertyRule>
        </property>
      </propertySubGroup>
      <propertySubGroup text="General Content">
        <property id="textColor" text="Text Color" dataType="color" defaultValue="#000000" descriptionText="Select the color for general text."  />
        <property id="textFont" text="Font" dataType="string" defaultValue="Tahoma, Arial, Helvetica" descriptionText="Select the font for general content of this blog."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Links">
        <property id="linkColor" text="Link Color" dataType="color" defaultValue="#006ff7" descriptionText="Select the color for links in the blog."  />
        <property id="visitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#006ff7" descriptionText="Select the color for links which have previously been visited."  />
        <property id="activeLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#006ff7" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup text="Background">
        <property id="siteBackgroundColor" text="Background Color" dataType="color" defaultValue="#5a543a" descriptionText="Select the background color for this blog."  />
        <property id="siteBackgroundImage" text="Background Image URL" dataType="url" defaultValue="" descriptionText="Enter the URL of the image to tile as the background of this blog."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
      </propertySubGroup>
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="maximumMediaWidth" resourceName="Maximum_Width" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_Width_Desc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" resourceName="Maximum_Height" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_HeightDesc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="0" />
      </propertySubGroup>
    </propertyGroup>
    
    <propertyGroup id="header" text="Header">
      <propertySubGroup text="Site Title">
        <property id="siteTitleHeight" text="Height" dataType="unit" descriptionText="Select the height of the blog title." defaultValue="221px" />
        <property id="siteTitleBackgroundImage" text="Background Image URL" dataType="url" defaultValue="~/themes/blogs/paperclip/images/summer-title.jpg" descriptionText="Enter the URL of the image to tile as the background of the blog title bar."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
        <property id="siteTitleColor" text="Text Color" dataType="color" defaultValue="#735c35" descriptionText="Select the color for the blog title text."  />
        <property id="siteTitleFont" text="Font" dataType="string" defaultValue="Tahoma, Arial, Helvetica" descriptionText="Select the font for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="siteTitleFontSize" text="Font Size" dataType="string" defaultValue="14px" descriptionText="Select the font size for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="10px" text="Smallest" />
          <propertyValue value="12px" text="Smaller" />
          <propertyValue value="14px" text="Medium" />
          <propertyValue value="16px" text="Larger" />
          <propertyValue value="18px" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Navigation Bar">
        <property id="navigationTabTextColor" text="Text Color" dataType="color" defaultValue="#ffffff" descriptionText="Select the color for the text on the navigation bar."  />
        <property id="navigationTabBackgroundColor" text="Background Color" dataType="color" defaultValue="#666666" descriptionText="Select the color for the background of the navigation bar."  />
        <property id="navigationTabBackgroundBulletImage" text="Bullet Image URL" dataType="url" defaultValue="~/themes/blogs/paperclip/images/summer-nav-bul.gif" descriptionText="Enter the URL of the image to display as the bullet before each tab in the navigation bar."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
        <property id="navigationTabBackgroundImage" text="Background Image URL" dataType="url" defaultValue="~/themes/blogs/paperclip/images/summer-nav-background.jpg" descriptionText="Enter the URL of the image to tile as the background for tabs in the navigation bar."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
      </propertySubGroup>
    </propertyGroup>
    
    <propertyGroup id="body" text="Body">
      <propertySubGroup text="Page Title">
        <property id="titleColor" text="Text Color" dataType="color" defaultValue="#529e00" descriptionText="Select the color for the text of page titles."  />
        <property id="titleFont" text="Font" dataType="string" defaultValue="Tahoma, Arial, Helvetica" descriptionText="Select the font for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="titleFontSize" text="Font Size" dataType="string" defaultValue="1.8em" descriptionText="Select the font size for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.2em" text="Smallest" />
          <propertyValue value="1.4em" text="Smaller" />
          <propertyValue value="1.8em" text="Medium" />
          <propertyValue value="2em" text="Larger" />
          <propertyValue value="2.2em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sub Title">
        <property id="subTitleColor" text="Text Color" dataType="color" defaultValue="#529e00" descriptionText="Select the color for the text of page sub-titles."  />
        <property id="subTitleFont" text="Font" dataType="string" defaultValue="Tahoma, Arial, Helvetica" descriptionText="Select the font for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="subTitleFontSize" text="Font Size" dataType="string" defaultValue="1.5em" descriptionText="Select the font size for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.1em" text="Smallest" />
          <propertyValue value="1.3em" text="Smaller" />
          <propertyValue value="1.5em" text="Medium" />
          <propertyValue value="1.7em" text="Larger" />
          <propertyValue value="1.9em" text="Largest" />
        </property>
      </propertySubGroup>
    </propertyGroup>
    
    <propertyGroup id="sidebar" text="Sidebar">
      <propertySubGroup text="Sidebar Header">
        <property id="sidebarHeaderTextColor" text="Text Color" dataType="color" defaultValue="#000000" descriptionText="Select the text color for headers in the sidebars."  />
        <property id="sidebarHeaderFont" text="Font" dataType="string" defaultValue="Tahoma, Arial, Helvetica" descriptionText="Select the font for headers in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="sidebarHeaderFontSize" text="Font Size" dataType="string" defaultValue="1.1em" descriptionText="Select the font size for headers in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".7em" text="Smallest" />
          <propertyValue value=".9em" text="Smaller" />
          <propertyValue value="1.1em" text="Medium" />
          <propertyValue value="1.3em" text="Larger" />
          <propertyValue value="1.5em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Content">
        <property id="sidebarTextColor" text="Text Color" dataType="color" defaultValue="#a99238" descriptionText="Select the text color for content in the sidebars."  />
        <property id="sidebarFont" text="Font" dataType="string" defaultValue="Tahoma, Arial, Helvetica" descriptionText="Select the font for content in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="sidebarFontSize" text="Font Size" dataType="string" defaultValue=".9em" descriptionText="Select the font size for content in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".5em" text="Smallest" />
          <propertyValue value=".7em" text="Smaller" />
          <propertyValue value=".9em" text="Medium" />
          <propertyValue value="1.1em" text="Larger" />
          <propertyValue value="1.3em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Links">
        <property id="sidebarLinkColor" text="Link Color" dataType="color" defaultValue="#a99238" descriptionText="Select the color for links in the sidebars."  />
        <property id="sidebarVisitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#a99238" descriptionText="Select the color for links which have previously been visited."  />
        <property id="sidebarActiveLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#a99238" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup resourceName="SidebarWidgets" resourceFile="ThemeResources.xml">
        <property id="SidebarWidgets" text="Blog Sidebar Widgets" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="fc52f8b4-19d5-40c2-a854-d198d9bb59ed" configuration="fragmentTitle=Common+Tasks&amp;listCssClass=CommonSidebarList&amp;homePage=false&amp;contactForm=false&amp;about=false&amp;mailingList=false&amp;displayNews=false&amp;postControlPanel=True&amp;postEditor=True&amp;rss=false&amp;atom=false&amp;rssComments=false" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogPostListContentFragment, CommunityServer.Blogs" id="37864aed-8e38-4675-916f-3edada8220b4" configuration="fragmentTitle=Recent+Posts&amp;pageSize=5&amp;displayProperty=Subject&amp;containerCss=recentposts&amp;containerId=RecentPostsSideBar" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="e545b952-1cf5-44c8-b651-853a98e0ef02" configuration="fragmentTitle=Tags&amp;applicationType=Unknown&amp;ignoreFilterTags=True&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;showTagCounts=False&amp;noTagsText=No+tags+have+been+created+or+used+yet.&amp;linkTo=ContextualTagBrowser&amp;headerLinkTo=Nothing&amp;tagCloudCss=SidebarTagCloud&amp;tagCss=Tag6%2cTag5%2cTag4%2cTag3%2cTag2%2cTag1&amp;containerId=TagSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="f42fc1ec-4637-43b6-90e8-b7bb1a249c2b" configuration="fragmentTitle=News&amp;listCssClass=CommonSidebarList&amp;homePage=False&amp;contactForm=False&amp;about=False&amp;mailingList=False&amp;displayNews=True&amp;postControlPanel=False&amp;postEditor=False&amp;rss=False&amp;atom=False&amp;rssComments=False" />
                <contentFragment type="CommunityServer.Controls.NavigationListContentFragment, CommunityServer.Controls" id="2a165024-b8c3-49e9-9cac-fa5ac7d7fae6" configuration="fragmentTitle=Community&amp;containerId=NavSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="db84cd7e-a02c-4b24-abd0-b0d823076a5f" configuration="fragmentTitle=Email+Notifications&amp;listCssClass=CommonSidebarList&amp;rss=False&amp;atom=False&amp;rssComments=False&amp;rssCss=rss&amp;enableSubscriptionForm=True&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=BlogSubscriptionItem&amp;validationCss=validationWarning&amp;enableSubscriptionHeader=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.LinkCategoryListContentFragment, CommunityServer.Blogs" id="6e8afd57-856c-4590-bca7-25ab692b39c7" configuration="fragmentTitle=Link+Category+List&amp;listCssClass=CommonSidebarList&amp;headerCss=&amp;headerTag=H3" />
                <contentFragment type="CommunityServer.Blogs.Controls.ArchiveDataItemListContentFragment, CommunityServer.Blogs" id="a06a3573-120f-47b2-9e19-7ea00ed22570" configuration="fragmentTitle=Archives&amp;containerId=ArchiveSideBar" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
  </DynamicConfiguration>
</Theme>