/*  "Right Sidebar" variant of "Simple" skin for CS 1.0.*/
  
#content {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 230px;
	margin-bottom: 0px;
	padding: 0px 1em;

}
	
/*Sidebar*/
#sidebar-a {
	float: right;
	width: 220px;
	\width: 230px;
	w\idth: 220px;
	margin: 0px;
	padding: 0px;
	font-size: 0.9em;
}
