<?xml version="1.0" encoding="utf-8" ?>
<Theme title="Hawaii" previewImageUrl="~/themes/hawaii/preview.png" previewText="This is the default site theme.  Includes options for customizing fonts, colors, images, and layout.  Allows CSS to be overridden.">
  <Configuration>
    <MediaGalleries>
      <ViewTypes>
        <type name="Thumbnail" resourceName="MediaGalleryViewType_Thumbnail" resourceFile="MediaGallery.xml" default="true" />
        <type name="List" resourceName="MediaGalleryViewType_List" resourceFile="MediaGallery.xml" />
      </ViewTypes>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </MediaGalleries>
    <Weblogs>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
    <Wikis>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Wikis>
    <Forums>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Forums>
    <Hubs>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Hubs>
  </Configuration>
	<DynamicConfiguration>
    <propertyGroup id="home" text="Home Page">
      <property id="showWelcomeMessageToAllUsers" text="Show Welcome to All Users" dataType="bool" descriptionText="Show the welcome message content to all users, instead of showing the user-oriented content to registered users." defaultValue="false" />
      <property id="welcomeMessage" text="Welcome Message" dataType="html" controlType="CommunityServer.Controls.HtmlEditorStringControl, CommunityServer.Controls" descriptionText="Enter the welcome message that is shown to anonymous users (or all users if  welcome text is shown to all users).">
        <defaultValue>
          <![CDATA[
            <h2>
              Welcome!
            </h2>
            <p>
              Telligent&reg; Community Server&trade; is the world's leading platform for social media and online communities.  Our proven solution powers some of the world's most demanding online communities such as MySpace.com, Microsoft, and more. We're thrilled that you've taken the time to check it out. (By the way, we're confident you'll love it!)</p>
            <p>
              At <a href="http://telligent.com/">Telligent</a>, we're more than just award-winning software.  We're also a one-stop shop.  If you're looking for an implementation, creative design, or managed hosting partner, we've got you covered.  Our experienced Telligent Client Services team can help you strategize, plan, deploy, and implement your own community solution on time and on budget.
            </p>
            <p>
              While online, don't forget to visit the Community Server community at <a href="http://dev.communityserver.com">dev.communityserver.com</a>.
            </p>
            <p>
              Again, we sincerely appreciate you taking the time to evaluate and/or purchase Community Server.  If you have any questions or concerns along the way, please feel free to contact us either by email or phone:
            </p>
            <p>
              <a href="mailto:sales@telligent.com">sales@telligent.com</a><br />
              +1 972 407 0688
            </p>
            <p>Sincerely,</p>
            <p>
              Robert M. Howard, CEO<br />
              Telligent<br />
              <a href="mailto:rhoward@telligent.com">rhoward@telligent.com</a>
            </p>
          ]]>
        </defaultValue>
      </property>
    </propertyGroup>
    <propertyGroup id="layout" resourceName="LayoutGeneral" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="width" resourceName="Layout_Width_Description" resourceFile="ThemeResources.xml" dataType="unit" descriptionResourceName="Layout_Width_Description" descriptionResourceFile="ThemeResources.xml" defaultValue="960px" />
        <property id="maximumMediaWidth" text="Maximum Width" descriptionText="The maximum width an image can be when displaying it in this theme." dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" text="Maximum Height" descriptionText="The maximum height an image can be when displaying it in this theme." dataType="int" defaultValue="0" />
      </propertySubGroup>
      <propertySubGroup resourceName="GeneralContent" resourceFile="ThemeResources.xml">
        <property id="textColor" resourceName="TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#333" descriptionResourceName="TextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="textFont" resourceName="Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="Font_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="Links" resourceFile="ThemeResources.xml">
        <property id="linkColor" resourceName="LinkColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#36c" descriptionResourceName="LinkColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="visitedLinkColor" resourceName="LinkColor_Visited" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#888" descriptionResourceName="LinkColor_Visited_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="activeLinkColor" resourceName="LinkColor_Active" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#36c" descriptionResourceName="LinkColor_Active_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
      <propertySubGroup resourceName="Background" resourceFile="ThemeResources.xml">
        <property id="siteBackgroundColor" resourceName="BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#f0f0f0" descriptionResourceName="Background_Color_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="siteBackgroundImage" resourceName="Background_Image" resourceFile="ThemeResources.xml" dataType="url" defaultValue="" descriptionResourceName="Background_Image_Description" descriptionResourceFile="ThemeResources.xml" controlType="CommunityServer.Controls.SiteFileUrlControl, CommunityServer.Controls" />
      </propertySubGroup>
    </propertyGroup>
    <propertyGroup id="header" resourceName="Header" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="SiteTitle" resourceFile="ThemeResources.xml">
        <property id="siteTitleHeight" resourceName="SiteTitle_Height" resourceFile="ThemeResources.xml" dataType="unit" descriptionResourceName="SiteTitle_Height_Description" descriptionResourceFile="ThemeResources.xml" defaultValue="113px" />
        <property id="siteTitleTopBorderColor" resourceName="SiteTitle_TopBorderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#95B6C3" descriptionResourceName="SiteTitle_TopBorderColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="siteTitleBackgroundColor" resourceName="BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#ffffff" descriptionResourceName="SiteTitle_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="siteTitleColor" resourceName="SiteTitle_TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#000" descriptionResourceName="SiteTitle_TextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="siteTitleBackgroundImage" resourceName="SiteTitle_BackgroundImage" resourceFile="ThemeResources.xml" dataType="url" defaultValue="" descriptionResourceName="SiteTitle_BackgroundImage_Description" descriptionResourceFile="ThemeResources.xml" controlType="CommunityServer.Controls.SiteFileUrlControl, CommunityServer.Controls" />
        <property id="logoUrl" resourceName="SiteTitle_LogoImage" resourceFile="ThemeResources.xml" dataType="url" defaultValue="~/themes/hawaii/images/common/header-logo.gif" descriptionResourceName="SiteTitle_LogoImage_Description" descriptionResourceFile="ThemeResources.xml" controlType="CommunityServer.Controls.SiteFileUrlControl, CommunityServer.Controls" />
        <property id="siteTitleFont" resourceName="SiteTitle_Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="SiteTitle_Font_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="siteTitleFontSize" resourceName="SiteTitle_FontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue="325%" descriptionResourceName="SiteTitle_FontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="225%" text="Smallest" />
          <propertyValue value="275%" text="Smaller" />
          <propertyValue value="325%" text="Medium" />
          <propertyValue value="375%" text="Larger" />
          <propertyValue value="425%" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="Breadcrumbs" resourceFile="ThemeResources.xml">
        <property id="breadcrumbBackgroundColor" resourceName="BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#f7f7f7" descriptionResourceName="Breadcrumbs_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="breadcrumbTextColor" resourceName="TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#000" descriptionResourceName="Breadcrumbs_Color_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
    </propertyGroup>
    <propertyGroup resourceName="Navigation" resourceFile="ThemeResources.xml">
      <property id="navigationItems" resourceName="NavigationItems" resourceFile="ThemeResources.xml" dataType="Custom" descriptionResourceName="NavigationItems_Description" descriptionResourceFile="ThemeResources.xml" controlType="CommunityServer.Controls.DynamicNavigationCustomControl, CommunityServer.Controls" maximumDepth="2" />
      <property id="navigationTabBackgroundColor" resourceName="BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#95B6C3" descriptionResourceName="Navigation_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
      <property id="navigationTabTextColor" resourceName="TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#191919" descriptionResourceName="Navigation_Color_Description" descriptionResourceFile="ThemeResources.xml" />
      <property id="navigationTabHoverTextColor" resourceName="Navigation_HoverColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#fff" descriptionResourceName="Navigation_HoverColor_Description" descriptionResourceFile="ThemeResources.xml" />
      <property id="navigationTabSelectedTextColor" resourceName="Navigation_SelectedColor" resourceFile="ThemeResources.xml" text="Selected Text Color" dataType="color" defaultValue="#191919" descriptionResourceName="Navigation_HoverColor_Description" descriptionResourceFile="ThemeResources.xml" />
    </propertyGroup>
    <propertyGroup id="body" resourceName="Body" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="PageTitle" resourceFile="ThemeResources.xml">
        <property id="titleColor" resourceName="TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#333" descriptionResourceName="PageTitle_Color_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="titleFont" resourceName="PageTitle_Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="PageTitle_Font_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="titleFontSize" resourceName="PageTitle_FontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue="200%" descriptionResourceName="PageTitle_FontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="150%" text="Smallest" />
          <propertyValue value="175%" text="Smaller" />
          <propertyValue value="200%" text="Medium" />
          <propertyValue value="225%" text="Larger" />
          <propertyValue value="250%" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="ContentBox" resourceFile="ThemeResources.xml">
        <property id="contentBoxBorderColor" resourceName="ContentBox_BorderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#ccc" descriptionResourceName="ContentBox_BorderColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="contentBoxBackgroundColor" resourceName="ContentBox_BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#fff" descriptionResourceName="ContentBox_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="contentBoxHeaderTextColor" resourceName="ContentBox_HeaderTextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#333" descriptionResourceName="ContentBox_HeaderTextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="contentBoxHeaderFont" resourceName="ContentBox_HeaderFont" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="ContentBox_HeaderFont_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="AnnouncementContentBox" resourceFile="ThemeResources.xml">
        <property id="announcementContentBoxBorderColor" resourceName="AnnouncementContentBox_BorderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#f93" descriptionResourceName="AnnouncementContentBox_BorderColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="announcementContentBoxBackgroundColor" resourceName="AnnouncementContentBox_BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#ff9" descriptionResourceName="AnnouncementContentBox_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="announcementContentBoxHeaderTextColor" resourceName="AnnouncementContentBox_HeaderTextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#333" descriptionResourceName="AnnouncementContentBox_HeaderTextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="announcementContentBoxHeaderFont" resourceName="AnnouncementContentBox_HeaderFont" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="AnnouncementContentBox_HeaderFont_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="ActivityContentBox" resourceFile="ThemeResources.xml">
        <property id="activityContentBoxBorderColor" resourceName="ActivityContentBox_BorderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#f00" descriptionResourceName="ActivityContentBox_BorderColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="activityContentBoxBackgroundColor" resourceName="ActivityContentBox_BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#fff" descriptionResourceName="ActivityContentBox_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="activityContentBoxHeaderTextColor" resourceName="ActivityContentBox_HeaderTextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#333" descriptionResourceName="ActivityContentBox_HeaderTextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="activityContentBoxHeaderFont" resourceName="ActivityContentBox_HeaderFont" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="ActivityContentBox_HeaderFont_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="HighlightedContentBox" resourceFile="ThemeResources.xml">
        <property id="highlightedContentBoxBorderColor" resourceName="HighlightedContentBox_BorderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#95B6C3" descriptionResourceName="HighlightedContentBox_BorderColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="highlightedContentBoxBackgroundColor" resourceName="HighlightedContentBox_BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#EBFFFF" descriptionResourceName="HighlightedContentBox_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="highlightedContentBoxHeaderTextColor" resourceName="HighlightedContentBox_HeaderTextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#333" descriptionResourceName="HighlightedContentBox_HeaderTextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="highlightedContentBoxHeaderFont" resourceName="HighlightedContentBox_HeaderFont" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="HighlightedContentBox_HeaderFont_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="MessageBox" resourceFile="ThemeResources.xml">
        <property id="messageBoxBackgroundColor" resourceName="MessageBox_BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#CEDEFD" descriptionResourceName="MessageBox_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="messageBoxAuthorBackgroundColor" resourceName="MessageBox_AuthorBackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#DFFFED" descriptionResourceName="MessageBox_AuthorBackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
      <propertySubGroup resourceName="FileBox" resourceFile="ThemeResources.xml">
        <property id="fileBoxBackgroundColor" resourceName="FileBox_BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#ececec" descriptionResourceName="FileBox_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
      <propertySubGroup resourceName="ListContent" resourceFile="ThemeResources.xml">
        <property id="listTitleTextColor" resourceName="ListContent_TitleColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#525252" descriptionResourceName="ListContent_TitleColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="listTitleFont" resourceName="ListContent_TitleFont" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="ListContent_TitleFont_Description" descriptionResourceFile="ThemeResources.xml"  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="listTitleFontSize" resourceName="ListContent_TitleFontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue="100%" descriptionResourceName="ListContent_TitleFontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size"  width="200px" showStyleWhenSelected="false">
          <propertyValue value="65%" text="Smallest" />
          <propertyValue value="80%" text="Smaller" />
          <propertyValue value="100%" text="Medium" />
          <propertyValue value="120%" text="Larger" />
          <propertyValue value="140%" text="Largest" />
        </property>
        <property id="listHeaderBackgroundColor" resourceName="ListContent_HeaderBgColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#999" descriptionResourceName="ListContent_HeaderBgColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="listHeaderTextColor" resourceName="ListContent_HeaderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#fff" descriptionResourceName="ListContent_HeaderColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="listAlternateRowColor" resourceName="ListContent_AltRowBgColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#eee" descriptionResourceName="ListContent_AltRowBgColor_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
      <propertySubGroup resourceName="ForumPost" resourceFile="ThemeResources.xml">
        <property id="forumPostHeaderTextColor" resourceName="ForumPost_HeaderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#000" descriptionResourceName="ForumPost_HeaderColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="forumPostHeaderFont" resourceName="ForumPost_HeaderFont" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="ForumPost_HeaderFont_Description" descriptionResourceFile="ThemeResources.xml"  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="forumPostHeaderFontSize" resourceName="ForumPost_HeaderFontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue="90%" descriptionResourceName="ForumPost_HeaderFontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size"  width="200px" showStyleWhenSelected="false">
          <propertyValue value="70%" text="Smallest" />
          <propertyValue value="80%" text="Smaller" />
          <propertyValue value="90%" text="Medium" />
          <propertyValue value="100%" text="Larger" />
          <propertyValue value="110%" text="Largest" />
        </property>
        <property id="forumPostHeaderBackgroundColor" resourceName="ForumPost_HeaderBgColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#ccc" descriptionResourceName="ForumPost_HeaderBgColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="forumPostBorderColor" resourceName="BorderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#E1E1E1" descriptionResourceName="ForumPost_BorderColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="forumPostManagementAreaBackgroundColor" resourceName="ForumPost_ManagementBgColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#f4f4f4" descriptionResourceName="ForumPost_ManagementBgColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="forumPostUserAreaBackgroundColor" resourceName="ForumPost_UserBgColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#f4f4f4" descriptionResourceName="ForumPost_UserBgColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="forumPostContentColor" resourceName="ForumPost_TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#000" descriptionResourceName="ForumPost_TextColor_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
    </propertyGroup>
    <propertyGroup id="sidebar" resourceName="Sidebar" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="Sidebar" resourceFile="ThemeResources.xml">
        <property id="sidebarWidth" resourceName="Width" resourceFile="ThemeResources.xml" dataType="unit" descriptionResourceName="Sidebar_Width_Description" descriptionResourceFile="ThemeResources.xml" defaultValue="240px" />
      </propertySubGroup>
      <propertySubGroup resourceName="Blogs_Sidebar" resourceFile="ThemeResources.xml">
        <property id="BlogWidgets" resourceName="Blog_Widgets" resourceFile="ThemeResources.xml" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Controls.SiteUrlContentFragment, CommunityServer.Controls" id="34a4a601-b1f6-4cb9-ad18-0b81b80b034e" configuration="fragmentTitle=Shortcuts&amp;listCssClass=CommonSidebarList&amp;controlpanel=False&amp;user_List=False&amp;post_NotRead=False&amp;forumSubscriptions=False&amp;usersOnline=False&amp;forumModeration=False&amp;hub_create=False&amp;allGroups=False&amp;groupAdmin=False&amp;blogAdmin=True&amp;blogCreate=True&amp;customLinks=" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="9871A68A-A3AD-4d78-B242-CC888C0EEE2C" configuration="applicationType=Weblog&amp;ignoreFilterTags=False&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;fragmentTitle=Tags&amp;tagCloudCss=CommonSidebarTagCloud&amp;tagCss=CommonTag6%2cCommonTag5%2cCommonTag4%2cCommonTag3%2cCommonTag2%2cCommonTag1&amp;showTagCounts=False&amp;noTagsText=No+Tags+Found&amp;linkTo=ContextualTagBrowser" />
                <contentFragment type="CommunityServer.Blogs.Controls.GroupDataContentFragment, CommunityServer.Blogs" id="FFB85286-F811-4120-BA9B-9AAFAA5FC96D" configuration="fragmentTitleLink=&amp;fragmentTitle=Blogs&amp;listCssClass=CommonSidebarList&amp;blog_aggregate_Syndication_default=True&amp;rssCssClass=CommonSidebarRssListItem&amp;blog_aggregate_Opml_default=True&amp;blog_aggregate_Bloggers_default=True&amp;groupHome=False" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="Media_Sidebar" resourceFile="ThemeResources.xml">
        <property id="MediaWidgets" resourceName="Media_Widgets" resourceFile="ThemeResources.xml" applicationTypes="MediaGallery" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Controls.SiteUrlContentFragment, CommunityServer.Controls" id="2df9ece8-fe74-46c6-b82a-a42a65664fe8" configuration="fragmentTitle=Shortcuts&amp;controlpanel=False&amp;blogAdmin=False&amp;mediaAdmin=True&amp;mediaGalleryCreate=True&amp;user_List=False&amp;post_NotRead=False&amp;forumSubscriptions=False&amp;usersOnline=False&amp;forumModeration=False&amp;hub_create=False&amp;allGroups=False&amp;groupAdmin=False&amp;customLinks=&amp;listCssClass=CommonSidebarList" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="2b1a7190-3b89-4a19-985c-eaf6c41e993d" configuration="applicationType=MediaGallery&amp;ignoreFilterTags=False&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;fragmentTitle=Tags&amp;tagCloudCss=CommonSidebarTagCloud&amp;tagCss=CommonTag6%2cCommonTag5%2cCommonTag4%2cCommonTag3%2cCommonTag2%2cCommonTag1&amp;showTagCounts=False&amp;noTagsText=No+Tags+Found&amp;linkTo=ContextualTagBrowser" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="Forums_Sidebar" resourceFile="ThemeResources.xml">
        <property id="ForumWidgets" resourceName="Forum_Widgets" resourceFile="ThemeResources.xml" applicationTypes="Forum" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Controls.SiteUrlContentFragment, CommunityServer.Controls" id="db46f892-f1d4-43ff-9744-787f3f12b2b9" configuration="fragmentTitle=Shortcuts&amp;listCssClass=CommonSidebarList&amp;controlpanel=False&amp;user_List=True&amp;post_NotRead=True&amp;createForum=True&amp;forumSubscriptions=True&amp;usersOnline=True&amp;forumModeration=True&amp;hub_create=False&amp;allGroups=False&amp;groupAdmin=false&amp;blogAdmin=false&amp;forumAdministration=true&amp;customLinks=" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="2b1a7190-3b89-4a19-985c-eaf6c41e993c" configuration="applicationType=Forum&amp;ignoreFilterTags=False&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;fragmentTitle=Tags&amp;tagCloudCss=CommonSidebarTagCloud&amp;tagCss=CommonTag6%2cCommonTag5%2cCommonTag4%2cCommonTag3%2cCommonTag2%2cCommonTag1&amp;showTagCounts=False&amp;noTagsText=No+Tags+Found&amp;linkTo=ContextualTagBrowser" />
                <contentFragment type="CommunityServer.Controls.UserListContentFragment, CommunityServer.Controls" id="881e78a5-2338-4108-904e-bec87e336447" configuration="usernames=&amp;userQuery=ActiveUsers&amp;fragmentTitle=Most+Active+Users&amp;pageSize=10&amp;cssClass=CommonSidebarList&amp;displayPostCount=True" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="Wikis_Sidebar" resourceFile="ThemeResources.xml">
        <property id="WikiWidgets" resourceName="Wiki_Widgets" resourceFile="ThemeResources.xml" applicationTypes="Wiki" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[ 
              <contentFragments>
                <contentFragment type="CommunityServer.Wikis.Controls.WikiDataContentFragment, CommunityServer.Wikis" id="40d347d4-d07b-478a-bfe6-8b46c96d7149" configuration="fragmentTitle=Shortcuts&amp;homePage=True&amp;wikiControlPanel=True&amp;wikiControlPanelManage=True&amp;createWiki=True&amp;deleteWikiPage=True&amp;lockWikiPage=True&amp;rss=True&amp;rssPage=True&amp;subscribePage=True&amp;listCssClass=CommonSidebarList" />
                <contentFragment type="CommunityServer.Wikis.Controls.PageFilesContentFragment, CommunityServer.Wikis" id="c383f66a-9c76-4b03-b940-c4717e608afb" configuration="fragmentTitle=Attachments&amp;listCssClass=CommonSidebarList" />
                <contentFragment type="CommunityServer.Wikis.Controls.WikiPageHierarchyContentFragment, CommunityServer.Wikis" id="58911560-da5e-43f7-9860-967e85244a11" configuration="fragmentTitle=Wiki+Table+of+Contents&amp;listCssClass=CommonHierarchicalList&amp;selectedItemCssClass=Selected&amp;expandedImageUrl=&amp;collapsedImageUrl=" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="98a13c61-1196-4820-8024-5333e3e73836" configuration="fragmentTitle=Tags&amp;applicationType=Wiki&amp;ignoreFilterTags=False&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;showTagCounts=False&amp;noTagsText=No+Tags+Found&amp;linkTo=ContextualTagBrowser&amp;headerLinkTo=ContextualTagBrowser&amp;tagCloudCss=CommonSidebarTagCloud&amp;tagCss=CommonTag6%2cCommonTag5%2cCommonTag4%2cCommonTag3%2cCommonTag2%2cCommonTag1&amp;containerId=" />
                <contentFragment type="CommunityServer.Wikis.Controls.PageDetailsContentFragment, CommunityServer.Wikis" id="b5920911-a4e3-4c3b-bd1d-fbabbb9a6278" configuration="fragmentTitle=Page+Details&amp;detailsAreaCss=CustomWikiPageDetailsArea&amp;detailsTitleCss=CustomWikiPageDetailsTitle&amp;detailsAvatarCss=CustomWikiPageDetailsAvatar&amp;detailsContentCss=CustomWikiPageDetailsContent&amp;detailsSummaryCss=WikiPageDetailsSummaryArea" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="Groups_Sidebar" resourceFile="ThemeResources.xml">
        <property id="GroupWidgets" resourceName="Group_Widgets" resourceFile="ThemeResources.xml" applicationTypes="Hub" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Controls.SiteUrlContentFragment, CommunityServer.Controls" id="f1e41735-7510-4844-88eb-9d75bff59cb8" configuration="fragmentTitle=Shortcuts&amp;listCssClass=CommonSidebarList&amp;controlpanel=False&amp;user_List=False&amp;post_NotRead=False&amp;forumSubscriptions=False&amp;usersOnline=False&amp;forumModeration=False&amp;hub_create=True&amp;allGroups=True&amp;groupAdmin=True&amp;blogAdmin=False&amp;customLinks=" />
                <contentFragment type="CommunityServer.Hubs.Controls.HubListContentFragment, CommunityServer.Controls" id="557A8EB4-71E4-4038-8BA7-5DAB0A412B64" configuration="fragmentTitle=Recently+Updated+Groups&amp;listCssClass=CommonSidebarList&amp;sortBy=LastPost&amp;sortOrder=Descending&amp;pageSize=10&amp;" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
    </propertyGroup>
    <propertyGroup id="footer" resourceName="Footer" resourceFile="ThemeResources.xml">
      <propertySubGroup text="Footer">
        <property id="siteFooterBackgroundColor" resourceName="BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#f7f7f7" descriptionResourceName="Footer_BgColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="siteFooterBackgroundImage" resourceName="Footer_BgImageUrl" resourceFile="ThemeResources.xml" dataType="url" defaultValue="" descriptionResourceName="Footer_BgImageUrl_Description" descriptionResourceFile="ThemeResources.xml" controlType="CommunityServer.Controls.SiteFileUrlControl, CommunityServer.Controls" />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="modal" resourceName="Modal" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="ModalWindow" resourceFile="ThemeResources.xml">
        <property id="modalBorderColor" resourceName="BorderColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#333" descriptionResourceName="ModalWindow_BorderColor_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
      <propertySubGroup text="Modal Window Title">
        <property id="modalTitleTextColor" resourceName="TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#333" descriptionResourceName="ModalWindow_TitleColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="modalTitleFont" resourceName="Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Arial, Helvetica" descriptionResourceName="ModalWindow_TitleFont_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="cssOverrides" resourceName="CSS" resourceFile="ThemeResources.xml">
      <property id="cssOverrides" resourceName="CssOverrides" resourceFile="ThemeResources.xml" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="70" descriptionResourceName="CssOverrides_Description" descriptionResourceFile="ThemeResources.xml" />
    </propertyGroup>
	</DynamicConfiguration>
</Theme>