<?xml version="1.0" encoding="utf-8" ?>
<Theme previewImageUrl="~/themes/blogs/marvin3/preview.png" previewText="Includes variations for Blue, Brown, Green, Pink, Red, and Vibrant and options for customizing fonts, colors, and images.  Also allows CSS to be overridden.">
  <Configuration>
    <Weblogs>
      <MediaSize maxWidth="550" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
  </Configuration>
  <DynamicConfiguration>
    <propertyGroup id="themeVariation" text="Variations / General">
      <propertySubGroup text="Theme Variations">
        <property id="secondaryCssUrl" text="Variation" dataType="url" defaultValue="" descriptionText="Select a predefined theme variation.  When the variation is changed, any options that have not been customized will be updated to reflect the variation's predefined values.">
          <propertyValue value="" text="Blue" />
          <propertyValue value="~/themes/blogs/marvin3/style/brown.css" text="Brown" />
          <propertyValue value="~/themes/blogs/marvin3/style/green.css" text="Green" />
          <propertyValue value="~/themes/blogs/marvin3/style/pink.css" text="Pink" />
          <propertyValue value="~/themes/blogs/marvin3/style/red.css" text="Red" />
          <propertyValue value="~/themes/blogs/marvin3/style/vibrant.css" text="Vibrant" />
          <propertyRule type="Telligent.DynamicConfiguration.Rules.ValueAutomationRule, Telligent.DynamicConfiguration" processImmediately="true">
            <checkValue value="">
              <setValue id="siteBackgroundColor" value="#ffffff" />
              <setValue id="linkColor" value="#00F" />
              <setValue id="visitedLinkColor" value="#00F" />
              <setValue id="activeLinkColor" value="#00F" />
              <setValue id="siteTitleColor" value="#333333" />
              <setValue id="siteTitleBackgroundColor" value="#ADF" />
              <setValue id="siteBorderColor" value="#4477ff" />
              <setValue id="subTitleColor" value="#00F" />
              <setValue id="sidebarLinkColor" value="#00F" />
              <setValue id="sidebarVisitedLinkColor" value="#00F" />
              <setValue id="sidebarActiveLinkColor" value="#00F" />
            </checkValue>
            <checkValue value="~/themes/blogs/marvin3/style/brown.css">
              <setValue id="siteBackgroundColor" value="#ddc" />
              <setValue id="linkColor" value="#700" />
              <setValue id="visitedLinkColor" value="#700" />
              <setValue id="activeLinkColor" value="#700" />
              <setValue id="siteTitleColor" value="#333333" />
              <setValue id="siteTitleBackgroundColor" value="#998" />
              <setValue id="siteBorderColor" value="#443" />
              <setValue id="subTitleColor" value="#700" />
              <setValue id="sidebarLinkColor" value="#700" />
              <setValue id="sidebarVisitedLinkColor" value="#700" />
              <setValue id="sidebarActiveLinkColor" value="#700" />
            </checkValue>
            <checkValue value="~/themes/blogs/marvin3/style/green.css">
              <setValue id="siteBackgroundColor" value="#ffffff" />
              <setValue id="linkColor" value="#093" />
              <setValue id="visitedLinkColor" value="#093" />
              <setValue id="activeLinkColor" value="#093" />
              <setValue id="siteTitleColor" value="#333333" />
              <setValue id="siteTitleBackgroundColor" value="#cea" />
              <setValue id="siteBorderColor" value="#093" />
              <setValue id="subTitleColor" value="#093" />
              <setValue id="sidebarLinkColor" value="#093" />
              <setValue id="sidebarVisitedLinkColor" value="#093" />
              <setValue id="sidebarActiveLinkColor" value="#093" />
            </checkValue>
            <checkValue value="~/themes/blogs/marvin3/style/pink.css">
              <setValue id="siteBackgroundColor" value="#ffffff" />
              <setValue id="linkColor" value="#c66" />
              <setValue id="visitedLinkColor" value="#c66" />
              <setValue id="activeLinkColor" value="#c66" />
              <setValue id="siteTitleColor" value="#333333" />
              <setValue id="siteTitleBackgroundColor" value="#fbb" />
              <setValue id="siteBorderColor" value="#c66" />
              <setValue id="subTitleColor" value="#c66" />
              <setValue id="sidebarLinkColor" value="#c66" />
              <setValue id="sidebarVisitedLinkColor" value="#c66" />
              <setValue id="sidebarActiveLinkColor" value="#c66" />
            </checkValue>
            <checkValue value="~/themes/blogs/marvin3/style/red.css">
              <setValue id="siteBackgroundColor" value="#ffffff" />
              <setValue id="linkColor" value="#c00" />
              <setValue id="visitedLinkColor" value="#c00" />
              <setValue id="activeLinkColor" value="#c00" />
              <setValue id="siteTitleColor" value="#c00" />
              <setValue id="siteTitleBackgroundColor" value="#fda" />
              <setValue id="siteBorderColor" value="#c00" />
              <setValue id="subTitleColor" value="#c00" />
              <setValue id="sidebarLinkColor" value="#c00" />
              <setValue id="sidebarVisitedLinkColor" value="#c00" />
              <setValue id="sidebarActiveLinkColor" value="#c00" />
            </checkValue>
            <checkValue value="~/themes/blogs/marvin3/style/vibrant.css">
              <setValue id="siteBackgroundColor" value="#aaddff" />
              <setValue id="linkColor" value="#660066" />
              <setValue id="visitedLinkColor" value="#660066" />
              <setValue id="activeLinkColor" value="#660066" />
              <setValue id="siteTitleColor" value="#aaddff" />
              <setValue id="siteTitleBackgroundColor" value="#990099" />
              <setValue id="siteBorderColor" value="#330033" />
              <setValue id="subTitleColor" value="#660066" />
              <setValue id="sidebarLinkColor" value="#660066" />
              <setValue id="sidebarVisitedLinkColor" value="#660066" />
              <setValue id="sidebarActiveLinkColor" value="#660066" />
            </checkValue>
          </propertyRule>
        </property>
      </propertySubGroup>
      <propertySubGroup text="General Content">
        <property id="siteBorderColor" text="Border Color" dataType="color" defaultValue="#4477ff" descriptionText="Select the color for the border surrounding content areas of this blog." />
        <property id="textColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the color for general text."  />
        <property id="textFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for general content of this blog."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Links">
        <property id="linkColor" text="Link Color" dataType="color" defaultValue="#00F" descriptionText="Select the color for links in the blog."  />
        <property id="visitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#00F" descriptionText="Select the color for links which have previously been visited."  />
        <property id="activeLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#00F" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup text="Background">
        <property id="siteBackgroundColor" text="Background Color" dataType="color" defaultValue="#ffffff" descriptionText="Select the background color for this blog."  />
        <property id="siteBackgroundImage" text="Background Image URL" dataType="url" defaultValue="" descriptionText="Enter the URL of the image to tile as the background of this blog."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
      </propertySubGroup>
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="maximumMediaWidth" resourceName="Maximum_Width" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_Width_Desc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" resourceName="Maximum_Height" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_HeightDesc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="0" />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="header" text="Header">
      <propertySubGroup text="Site Title">
        <property id="siteTitleBackgroundColor" text="Background Color" dataType="color" defaultValue="#ADF" descriptionText="Select the background color for the blog title."  />
        <property id="siteTitleColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the color for the blog title text."  />
        <property id="siteTitleFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="siteTitleFontSize" text="Font Size" dataType="string" defaultValue="1.8em" descriptionText="Select the font size for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.4em" text="Smallest" />
          <propertyValue value="1.6em" text="Smaller" />
          <propertyValue value="1.8em" text="Medium" />
          <propertyValue value="2em" text="Larger" />
          <propertyValue value="2.2em" text="Largest" />
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="body" text="Body">
      <propertySubGroup text="Page Title">
        <property id="titleColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the color for the text of page titles."  />
        <property id="titleFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="titleFontSize" text="Font Size" dataType="string" defaultValue="1em" descriptionText="Select the font size for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".6em" text="Smallest" />
          <propertyValue value=".8em" text="Smaller" />
          <propertyValue value="1em" text="Medium" />
          <propertyValue value="1.2em" text="Larger" />
          <propertyValue value="1.4em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sub Title">
        <property id="subTitleColor" text="Text Color" dataType="color" defaultValue="#00F" descriptionText="Select the color for the text of page sub-titles."  />
        <property id="subTitleFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="subTitleFontSize" text="Font Size" dataType="string" defaultValue="1.2em" descriptionText="Select the font size for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".8em" text="Smallest" />
          <propertyValue value="1em" text="Smaller" />
          <propertyValue value="1.2em" text="Medium" />
          <propertyValue value="1.4em" text="Larger" />
          <propertyValue value="1.6em" text="Largest" />
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="sidebar" text="Sidebar">
      <propertySubGroup text="Sidebar Header">
        <property id="sidebarHeaderTextColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the text color for headers in the sidebars."  />
        <property id="sidebarHeaderFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for headers in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="sidebarHeaderFontSize" text="Font Size" dataType="string" defaultValue="1em" descriptionText="Select the font size for headers in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".6em" text="Smallest" />
          <propertyValue value=".8em" text="Smaller" />
          <propertyValue value="1em" text="Medium" />
          <propertyValue value="1.2em" text="Larger" />
          <propertyValue value="1.4em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Content">
        <property id="sidebarTextColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the text color for content in the sidebars."  />
        <property id="sidebarFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for content in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="sidebarFontSize" text="Font Size" dataType="string" defaultValue=".9em" descriptionText="Select the font size for content in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".5em" text="Smallest" />
          <propertyValue value=".7em" text="Smaller" />
          <propertyValue value=".9em" text="Medium" />
          <propertyValue value="1.1em" text="Larger" />
          <propertyValue value="1.3em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Links">
        <property id="sidebarLinkColor" text="Link Color" dataType="color" defaultValue="#00F" descriptionText="Select the color for links in the sidebars."  />
        <property id="sidebarVisitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#00F" descriptionText="Select the color for links which have previously been visited."  />
        <property id="sidebarActiveLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#00F" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup resourceName="SidebarWidgets" resourceFile="ThemeResources.xml">
        <property id="LeftSidebarWidgets" text="Left Sidebar Widgets" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="23d930da-1395-46fc-81b3-fdd3c9d08d18" configuration="fragmentTitle=This+Blog&amp;listCssClass=CommonSidebarList&amp;homePage=True&amp;contactForm=True&amp;about=True&amp;mailingList=False&amp;displayNews=False&amp;postControlPanel=False&amp;postEditor=False&amp;rss=False&amp;atom=False&amp;rssComments=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="fc52f8b4-19d5-40c2-a854-d198d9bb59ed" configuration="fragmentTitle=Common+Tasks&amp;listCssClass=CommonSidebarList&amp;homePage=false&amp;contactForm=false&amp;about=false&amp;mailingList=false&amp;displayNews=false&amp;postControlPanel=True&amp;postEditor=True&amp;rss=false&amp;atom=false&amp;rssComments=false" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="9866adb3-5ad3-4b16-b234-034f977ec51d" configuration="fragmentTitle=Syndication&amp;listCssClass=CommonSidebarList&amp;rss=True&amp;atom=True&amp;rssComments=True&amp;rssCss=rss&amp;enableSubscriptionForm=False&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=BlogSubscriptionItem&amp;validationCss=validationWarning&amp;enableSubscriptionHeader=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.SearchFormContentFragment, CommunityServer.Blogs" id="d5ebd42e-48dd-49eb-a4db-31e401789494" configuration="fragmentTitle=Search&amp;searchCssClass=searchBox&amp;searchButtonCssClass=SearchButton&amp;wrapInList=True" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="f42fc1ec-4637-43b6-90e8-b7bb1a249c2b" configuration="fragmentTitle=News&amp;listCssClass=CommonSidebarList&amp;homePage=False&amp;contactForm=False&amp;about=False&amp;mailingList=False&amp;displayNews=True&amp;postControlPanel=False&amp;postEditor=False&amp;rss=False&amp;atom=False&amp;rssComments=False" />
                <contentFragment type="CommunityServer.Controls.NavigationListContentFragment, CommunityServer.Controls" id="2a165024-b8c3-49e9-9cac-fa5ac7d7fae6" configuration="fragmentTitle=Community&amp;containerId=NavSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.LinkCategoryListContentFragment, CommunityServer.Blogs" id="6e8afd57-856c-4590-bca7-25ab692b39c7" configuration="fragmentTitle=Link+Category+List&amp;listCssClass=CommonSidebarList&amp;headerCss=&amp;headerTag=H3" />
              </contentFragments>
            ]]>
            </defaultValue>
        </property>
        <property id="RightSidebarWidgets" text="Right Sidebar Widgets" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="e545b952-1cf5-44c8-b651-853a98e0ef02" configuration="fragmentTitle=Tags&amp;tagCloudCss=SidebarTagCloud&amp;containerId=TagSideBar&amp;tagCss=Tag6%2cTag5%2cTag4%2cTag3%2cTag2%2cTag1&amp;ignoreFilterTags=true&amp;enableNoTagsMessage=false" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="db84cd7e-a02c-4b24-abd0-b0d823076a5f" configuration="fragmentTitle=Email+Notifications&amp;listCssClass=CommonSidebarList&amp;rss=False&amp;atom=False&amp;rssComments=False&amp;rssCss=rss&amp;enableSubscriptionForm=True&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=BlogSubscriptionItem&amp;validationCss=validationWarning&amp;enableSubscriptionHeader=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogPostListContentFragment, CommunityServer.Blogs" id="59debff8-a310-4830-92fe-178ae7038c97" configuration="fragmentTitle=Recent+Posts&amp;pageSize=5&amp;displayProperty=Subject&amp;containerCss=recentposts&amp;containerId=RecentPostsSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.ArchiveDataItemListContentFragment, CommunityServer.Blogs" id="a06a3573-120f-47b2-9e19-7ea00ed22570" configuration="fragmentTitle=Archives&amp;containerId=ArchiveSideBar" />
              </contentFragments>
            ]]>
            </defaultValue>
          </property>
        </propertySubGroup>
      </propertyGroup>

    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
  </DynamicConfiguration>
</Theme>