<?xml version="1.0" encoding="utf-8" ?>
<Theme previewImageUrl="~/themes/blogs/default2/preview.png" previewText="This is the CS 1.1 and earlier default blog theme and options for customizing fonts, colors, and images. Also allows CSS to be overridden.">
  <Configuration>
    <Weblogs>
      <MediaSize maxWidth="550" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
  </Configuration>
  <DynamicConfiguration>
    <propertyGroup id="themeVariation" resourceName="General" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="GeneralContent" resourceFile="ThemeResources.xml">
        <property id="textColor" resourceName="TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#000000" descriptionResourceName="TextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="textFont" resourceName="Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" descriptionResourceName="Font_Description" descriptionResourceFile="ThemeResources.xml"  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="Links" resourceFile="ThemeResources.xml">
        <property id="linkColor" resourceName="LinkColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#4C7A9E" descriptionResourceName="LinkColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="visitedLinkColor" resourceName="LinkColor_Visited" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#4C7A9E" descriptionResourceName="LinkColor_Visited_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="activeLinkColor" resourceName="LinkColor_Active" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#4C7A9E" descriptionResourceName="LinkColor_Active_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
      <propertySubGroup resourceName="Background" resourceFile="ThemeResources.xml">
        <property id="siteBackgroundColor" resourceName="Background_Color" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#dddddd" descriptionResourceName="Background_Color_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="siteBackgroundImage" resourceName="Background_Image" resourceFile="ThemeResources.xml" dataType="url" defaultValue="" descriptionResourceName="Background_Image_Description" descriptionResourceFile="ThemeResources.xml" controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
      </propertySubGroup>
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="maximumMediaWidth" resourceName="Maximum_Width" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_Width_Desc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" resourceName="Maximum_Height" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_HeightDesc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="0" />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="header" resourceName="Header" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="Title" resourceFile="ThemeResources.xml">
        <property id="siteTitleBackgroundColor" resourceName="Title_BackgroundColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#4C7A9E" descriptionResourceName="Title_BackgroundColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="siteTitleColor" resourceName="Title_TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#ffffff" descriptionResourceName="Title_TextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="siteTitleFont" resourceName="Title_Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" descriptionResourceName="Title_Font_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="siteTitleFontSize" resourceName="Title_FontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue="2.5em" descriptionResourceName="Title_FontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.5em" text="Smallest" />
          <propertyValue value="2em" text="Smaller" />
          <propertyValue value="2.5em" text="Medium" />
          <propertyValue value="3em" text="Larger" />
          <propertyValue value="3.5em" text="Largest" />
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="body" resourceName="Body" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="PageTitle" resourceFile="ThemeResources.xml">
        <property id="titleColor" resourceName="PageTitle_Color" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#738AC4" descriptionResourceName="PageTitle_Color_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="titleFont" resourceName="PageTitle_Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" descriptionResourceName="PageTitle_Font_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="titleFontSize" resourceName="PageTitle_FontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue="15pt" descriptionResourceName="PageTitle_FontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="11pt" text="Smallest" />
          <propertyValue value="13pt" text="Smaller" />
          <propertyValue value="15pt" text="Medium" />
          <propertyValue value="17pt" text="Larger" />
          <propertyValue value="19pt" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="SubTitle" resourceFile="ThemeResources.xml">
        <property id="subTitleColor" resourceName="SubTitle_TextColor" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#EF6522" descriptionResourceName="SubTitle_TextColor_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="subTitleFont" resourceName="SubTitle_Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" descriptionResourceName="SubTitle_Font_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="subTitleFontSize" resourceName="SubTitle_FontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue="18pt" descriptionResourceName="SubTitle_FontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="14pt" text="Smallest" />
          <propertyValue value="16pt" text="Smaller" />
          <propertyValue value="18pt" text="Medium" />
          <propertyValue value="20pt" text="Larger" />
          <propertyValue value="22pt" text="Largest" />
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="sidebar" resourceName="Sidebar" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="SidebarHeader" resourceFile="ThemeResources.xml">
        <property id="sidebarHeaderTextColor" resourceName="SidebarHeader_Color" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#000000" descriptionResourceName="SidebarHeader_Color_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="sidebarHeaderFont" resourceName="SidebarHeader_Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" descriptionResourceName="SidebarHeader_Font_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="sidebarHeaderFontSize" resourceName="SidebarHeader_FontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue=".9em" descriptionResourceName="SidebarHeader_FontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".5em" text="Smallest" />
          <propertyValue value=".7em" text="Smaller" />
          <propertyValue value=".9em" text="Medium" />
          <propertyValue value="1.1em" text="Larger" />
          <propertyValue value="1.3em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="SidebarContent" resourceFile="ThemeResources.xml">
        <property id="sidebarTextColor" resourceName="SidebarContent_Color" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#000000" descriptionResourceName="SidebarContent_Color_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="sidebarFont" resourceName="SidebarContent_Font" resourceFile="ThemeResources.xml" dataType="string" defaultValue="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" descriptionResourceName="SidebarContent_Font_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="sidebarFontSize" resourceName="SidebarContent_FontSize" resourceFile="ThemeResources.xml" dataType="string" defaultValue=".8em" descriptionResourceName="SidebarContent_FontSize_Description" descriptionResourceFile="ThemeResources.xml" controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".4em" text="Smallest" />
          <propertyValue value=".6em" text="Smaller" />
          <propertyValue value=".8em" text="Medium" />
          <propertyValue value="1em" text="Larger" />
          <propertyValue value="1.2em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup resourceName="SidebarLinks" resourceFile="ThemeResources.xml">
        <property id="sidebarLinkColor" resourceName="SidebarLinks_Color" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#4C7A9E" descriptionResourceName="SidebarLinks_Color_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="sidebarVisitedLinkColor" resourceName="SidebarLinks_ColorVisited" resourceFile="ThemeResources.xml" dataType="color" defaultValue="#4C7A9E" descriptionResourceName="SidebarLinks_ColorVisited_Description" descriptionResourceFile="ThemeResources.xml" />
        <property id="sidebarActiveLinkColor" resourceName="SidebarLinks_ColorActive" resourceFile="ThemeResources.xml" text="Link Color (Active)" dataType="color" defaultValue="#4C7A9E" descriptionResourceName="SidebarLinks_ColorActive_Description" descriptionResourceFile="ThemeResources.xml" />
      </propertySubGroup>
      <propertySubGroup resourceName="SidebarWidgets" resourceFile="ThemeResources.xml">
        <property id="Default2BlogWidgets" text="Blog Sidebar Widgets" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="9BE02C9F-0A10-4a6f-A586-55EA42CC32BF" configuration="fragmentTitle=This+Blog&amp;listCssClass=CommonSidebarList&amp;homePage=True&amp;postControlPanel=True" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="FC52F8B4-19D5-40c2-A854-D198D9BB59ED" configuration="fragmentTitle=Common+Tasks&amp;listCssClass=CommonSidebarList&amp;postControlPanel=True&amp;postEditor=True" />
				        <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="db84cd7e-a02c-4b24-abd0-b0d823076a5f" configuration="fragmentTitle=Syndication&amp;listCssClass=CommonSidebarList&amp;rss=True&amp;atom=True&amp;rssComments=True&amp;enableSubscriptionForm=True&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=BlogSubscriptionItem&amp;validationCss=validationWarning" />
                <contentFragment type="CommunityServer.Blogs.Controls.SearchFormContentFragment, CommunityServer.Blogs" id="d5ebd42e-48dd-49eb-a4db-31e401789494" configuration="fragmentTitle=Search&amp;searchCssClass=searchBox&amp;searchButtonCssClass=SearchButton" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="e545b952-1cf5-44c8-b651-853a98e0ef02" configuration="fragmentTitle=Tags&amp;applicationType=Unknown&amp;ignoreFilterTags=True&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;showTagCounts=False&amp;noTagsText=No+tags+have+been+created+or+used+yet.&amp;linkTo=ContextualTagBrowser&amp;headerLinkTo=Nothing&amp;tagCloudCss=SidebarTagCloud&amp;tagCss=Tag6%2cTag5%2cTag4%2cTag3%2cTag2%2cTag1&amp;containerId=TagSideBar" />
                <contentFragment type="CommunityServer.Controls.NavigationListContentFragment, CommunityServer.Controls" id="2a165024-b8c3-49e9-9cac-fa5ac7d7fae6" configuration="fragmentTitle=Community&amp;containerId=NavSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.ArchiveDataItemListContentFragment, CommunityServer.Blogs" id="a06a3573-120f-47b2-9e19-7ea00ed22570" configuration="fragmentTitle=Archives&amp;containerId=ArchiveSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.LinkCategoryListContentFragment, CommunityServer.Blogs" id="6e8afd57-856c-4590-bca7-25ab692b39c7" configuration="fragmentTitle=Link+Category+List&amp;listCssClass=CommonSidebarList" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
    </propertyGroup>
    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
  </DynamicConfiguration>
</Theme>