/*  'Light Sidebar Left Wide' alternate stylesheet for Luxinterior skin for CS 1.1 */
html, body {
	color: #333;
}
body {
	background: #FFF;
}
a:visited, a:active, a:link {
	color: #00C;
}
h1 a:visited, h1 a:active, h1 a:link {
	color: #333;
}
#container {
	width: 100%;
}
#nav {
	border-bottom-color: #AAA;
}
#content {
	margin-left: 210px;
    margin-right: 0px;
		}
#sidebar-a {
	float: left;
	margin: 0 0.5em 0 0em;
	border-right: 1px solid #AAA;
	border-left: 0px none;
		}
#sidebar-a h3 {
	margin-right: 1em;
	margin-left: 0em;
}

#sidebar-a ul {
	margin-left : 0em;
	margin-right: 1em;
}
#sidebar-a h3 {
	color: #666;
	border-bottom-color: #666;
}
.calendar .calOtherMonthDay {
	color: #CCC;
}
.calNextPrev a:link, .calNextPrev a:active, .calNextPrev a:visited {
	color: #00C!important;
}
.calNextPrev a:hover {
	color: #00C!important;
}

.postfoot {
	border-top-color: #AAA;
	border-bottom-color: #AAA;
}
.postcategoryheading {
	border-bottom-color:#AAA;
}
.ratemenu {
	border: #666;
	background: #FFF;
}
.comment
{
	padding: 4px;
}

.commentowner
{
	background-color: #f3f3f3;
	border: solid 1px #dddddd;
}
.commentssubhead {
	color: #666;
	}
.commentsbody {
	border-bottom-color: #AAA;
}
#commentform .smallbox {
	border: 1px solid #999;
}
#commentform textarea {
	border: 1px solid #999;
}
#search .searchBox {
	border: 1px solid #999;
}
#masthead {
	color: #333;
	border-bottom: 2px solid #AAA;
	background: #F0F0F0;
}
#masthead a:link, #masthead a:visited, #masthead a:active, #masthead a:hover {
	color: #00C;
}

/* Tag Styles */

.TagCloud
{
	background-color: #f4f4f4;
}

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	color: #007;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	color: #008;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	color: #009;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	color: #00A;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	color: #00B;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	color: #00C;
}
