/*  'Sidebar Left Wide' alternate stylesheet for Luxinterior skin for CS 1.1 */
#container {
	width: 100%;
}

#content {
	margin-left: 210px;
    margin-right: 0px;
		}
		
#sidebar-a {
	float: left;
	margin: 0 0.5em 0 0em;
	border-right: 1px solid #666;
	border-left: 0px none;
		}
#sidebar-a h3 {
	margin-right: 1em;
	margin-left: 0em;
}

#sidebar-a ul {
	margin-left : 0em;
	margin-right: 1em;
}

