/*  "MS" variant of "Hover" skin for CS 1.0.*/

a:visited,
a:active,
a:link {	
	color : #039;}

a:hover {
	color : #F30;}

#header{
	padding : 0px;
	background-color : #039;
	color : #000;
	background-image : url(../images/topback.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
	
#title {
	margin: 0px;
	padding: 0px;
	height : 60px;
}
#title h1{
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-size: 1.6em;
	font-weight: bold;
}
	
#header p{
	background-color : #69C;
	font-size: 0.9em;
}

#sidebar-a {	
    border-right : 1px solid #999;
    border-bottom : 1px solid #999;
    background-color : #F1F1F1;
	}
	
#sidebar-a a:active,
#sidebar-a a:visited,
#sidebar-a a:link {
	color : #000;
	border : 1px solid #F1F1F1;
}
	
#sidebar-a a:hover {	
	background-color : #CCC;
    border : 1px solid #999;	}

.postsubhead{
	color : #393;
	background-image : url(../images/dashed.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-color: #FFFFCC;
}
.postsubhead a:link,
.postsubhead a:visited{
	color : #393;
	background-color: #FFFFFF;
	padding-right: 10px;
	margin-left: -3px;
}

#masthead {
	color: #FFF;
	background: #039;
}
#masthead a:link, #masthead a:visited, #masthead a:active {
	color : #FFF;
	border : 1px solid #039;
}
#masthead a:hover {
    background-color : #69C;
	border : 1px solid #666;
}

/* Tag Styles */

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	color: #004;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	color: #005;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	color: #006;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	color: #017;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	color: #028;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	color: #039;
}

#sidebar-a .SidebarTagCloud a:link, #sidebar-a .SidebarTagCloud a:active, #sidebar-a .SidebarTagCloud a:visited
{
	display : inline;
	margin: auto;
	border-style: none;
	border-width: 0px;
	padding: auto;
}

#sidebar-a .SidebarTagCloud a:hover
{
	background-color: Transparent;
	text-decoration: underline;
}