<?xml version="1.0" encoding="utf-8" ?>
<Theme previewImageUrl="~/themes/blogs/vanilla/preview.png" previewText="Includes options for customizing layout, fonts, colors, and images. Also allows CSS to be overridden.">
  <Configuration>
    <Weblogs>
      <MediaSize maxWidth="550" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
  </Configuration>
  <DynamicConfiguration>
    <propertyGroup id="themeVariation" text="Layout / General">
      <propertySubGroup text="Theme Variations">
        <property id="secondaryCssUrl" text="Layout" dataType="url" defaultValue="" descriptionText="Select a location for the blog sidebar.">
          <propertyValue value="" text="Sidebar on Left" />
          <propertyValue value="~/themes/blogs/vanilla/style/right.css" text="Sidebar on Right" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="General Content">
        <property id="textColor" text="Text Color" dataType="color" defaultValue="#000000" descriptionText="Select the color for general text."  />
        <property id="textFont" text="Font" dataType="string" defaultValue="Arial, Helvetica" descriptionText="Select the font for general content of this blog."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="'Apple Garamond', 'Times New Roman', 'Garamond', serif" text="Apple Garamond" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Links">
        <property id="linkColor" text="Link Color" dataType="color" defaultValue="#006bad" descriptionText="Select the color for links in the blog."  />
        <property id="visitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#006bad" descriptionText="Select the color for links which have previously been visited."  />
        <property id="activeLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#006bad" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup text="Background">
        <property id="siteBackgroundColor" text="Background Color" dataType="color" defaultValue="#ffffff" descriptionText="Select the background color for this blog."  />
        <property id="siteBackgroundImage" text="Background Image URL" dataType="url" defaultValue="~/themes/blogs/vanilla/images/background.gif" descriptionText="Enter the URL of the image to tile horizontally accross the background of this blog."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
      </propertySubGroup>
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="maximumMediaWidth" resourceName="Maximum_Width" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_Width_Desc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" resourceName="Maximum_Height" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_HeightDesc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="0" />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="header" text="Header">
      <propertySubGroup text="Site Title">
        <property id="siteTitleHeight" text="Height" dataType="unit" descriptionText="Select the height of the blog title." defaultValue="" />
        <property id="siteTitleBackgroundImage" text="Background Image URL" dataType="url" defaultValue="" descriptionText="Enter the URL of the image to tile as the background of the blog title bar."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
        <property id="siteTitleColor" text="Text Color" dataType="color" defaultValue="#006bad" descriptionText="Select the color for the blog title text."  />
        <property id="siteTitleFont" text="Font" dataType="string" defaultValue="Arial, Helvetica" descriptionText="Select the font for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="'Apple Garamond', 'Times New Roman', 'Garamond', serif" text="Apple Garamond" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="siteTitleFontSize" text="Font Size" dataType="string" defaultValue="3em" descriptionText="Select the font size for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="2em" text="Smallest" />
          <propertyValue value="2.5em" text="Smaller" />
          <propertyValue value="3em" text="Medium" />
          <propertyValue value="3.5em" text="Larger" />
          <propertyValue value="4em" text="Largest" />
        </property>
        <property id="siteTitleBackgroundBorderColor" text="Border Color" dataType="color" defaultValue="#999999" descriptionText="Select the color for the border below the title of this blog."  />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="body" text="Body">
      <propertySubGroup text="Page Title">
        <property id="titleColor" text="Text Color" dataType="color" defaultValue="#006bad" descriptionText="Select the color for the text of page titles."  />
        <property id="titleFont" text="Font" dataType="string" defaultValue="'Apple Garamond', 'Times New Roman', 'Garamond', serif" descriptionText="Select the font for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="'Apple Garamond', 'Times New Roman', 'Garamond', serif" text="Apple Garamond" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="titleFontSize" text="Font Size" dataType="string" defaultValue="1.7em" descriptionText="Select the font size for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.3em" text="Smallest" />
          <propertyValue value="1.5em" text="Smaller" />
          <propertyValue value="1.7em" text="Medium" />
          <propertyValue value="1.9em" text="Larger" />
          <propertyValue value="2.1em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sub Title">
        <property id="subTitleColor" text="Text Color" dataType="color" defaultValue="#006bad" descriptionText="Select the color for the text of page sub-titles."  />
        <property id="subTitleFont" text="Font" dataType="string" defaultValue="'Apple Garamond', 'Times New Roman', 'Garamond', serif" descriptionText="Select the font for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="'Apple Garamond', 'Times New Roman', 'Garamond', serif" text="Apple Garamond" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="subTitleFontSize" text="Font Size" dataType="string" defaultValue="1.7em" descriptionText="Select the font size for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.3em" text="Smallest" />
          <propertyValue value="1.5em" text="Smaller" />
          <propertyValue value="1.7em" text="Medium" />
          <propertyValue value="1.9em" text="Larger" />
          <propertyValue value="2.1em" text="Largest" />
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="sidebar" text="Sidebar">
      <propertySubGroup text="Sidebar Header">
        <property id="sidebarHeaderTextColor" text="Text Color" dataType="color" defaultValue="#777777" descriptionText="Select the text color for headers in the sidebars."  />
        <property id="sidebarHeaderFont" text="Font" dataType="string" defaultValue="'Apple Garamond', 'Times New Roman', 'Garamond', serif" descriptionText="Select the font for headers in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="'Apple Garamond', 'Times New Roman', 'Garamond', serif" text="Apple Garamond" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="sidebarHeaderFontSize" text="Font Size" dataType="string" defaultValue="1.3em" descriptionText="Select the font size for headers in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".9em" text="Smallest" />
          <propertyValue value="1.1em" text="Smaller" />
          <propertyValue value="1.3em" text="Medium" />
          <propertyValue value="1.5em" text="Larger" />
          <propertyValue value="1.7em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Content">
        <property id="sidebarTextColor" text="Text Color" dataType="color" defaultValue="#000000" descriptionText="Select the text color for content in the sidebars."  />
        <property id="sidebarFont" text="Font" dataType="string" defaultValue="'Apple Garamond', 'Times New Roman', 'Garamond', serif" descriptionText="Select the font for content in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="'Apple Garamond', 'Times New Roman', 'Garamond', serif" text="Apple Garamond" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="sidebarFontSize" text="Font Size" dataType="string" defaultValue="1em" descriptionText="Select the font size for content in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".6em" text="Smallest" />
          <propertyValue value=".8em" text="Smaller" />
          <propertyValue value="1em" text="Medium" />
          <propertyValue value="1.2em" text="Larger" />
          <propertyValue value="1.4em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Links">
        <property id="sidebarLinkColor" text="Link Color" dataType="color" defaultValue="#006bad" descriptionText="Select the color for links in the sidebars."  />
        <property id="sidebarVisitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#006bad" descriptionText="Select the color for links which have previously been visited."  />
        <property id="sidebarActiveLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#006bad" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup resourceName="SidebarWidgets" resourceFile="ThemeResources.xml">
        <property id="SidebarWidgets" text="Blog Sidebar Widgets" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Blogs.Controls.SearchFormContentFragment, CommunityServer.Blogs" id="b81a12c7-25c4-4230-856b-2a3b95ea541e" configuration="fragmentTitle=Search&amp;searchCssClass=searchBox&amp;searchButtonCssClass=searchbutton&amp;wrapInList=True" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="fc52f8b4-19d5-40c2-a854-d198d9bb59ed" configuration="fragmentTitle=Common+Tasks&amp;listCssClass=CommonSidebarList&amp;homePage=false&amp;contactForm=false&amp;about=false&amp;mailingList=false&amp;displayNews=false&amp;postControlPanel=True&amp;postEditor=True&amp;rss=false&amp;atom=false&amp;rssComments=false" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="36b4ab45-1fa7-4fdc-bb54-01ba064822aa" configuration="fragmentTitle=This+Blog&amp;listCssClass=CommonSidebarList&amp;homePage=True&amp;contactForm=True&amp;about=True&amp;mailingList=True&amp;displayNews=False&amp;postControlPanel=False&amp;postEditor=False&amp;rss=False&amp;atom=False&amp;rssComments=False" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="e545b952-1cf5-44c8-b651-853a98e0ef02" configuration="fragmentTitle=Tags&amp;applicationType=Unknown&amp;ignoreFilterTags=True&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;showTagCounts=False&amp;noTagsText=No+tags+have+been+created+or+used+yet.&amp;linkTo=ContextualTagBrowser&amp;headerLinkTo=Nothing&amp;tagCloudCss=tagcloud&amp;tagCss=tag6%2ctag5%2ctag4%2ctag3%2ctag2%2ctag1&amp;containerId=TagSideBar" />
                <contentFragment type="CommunityServer.Controls.NavigationListContentFragment, CommunityServer.Controls" id="2a165024-b8c3-49e9-9cac-fa5ac7d7fae6" configuration="fragmentTitle=Community&amp;containerId=NavSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.ArchiveDataItemListContentFragment, CommunityServer.Blogs" id="a06a3573-120f-47b2-9e19-7ea00ed22570" configuration="fragmentTitle=Archives&amp;containerId=ArchiveSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="98a97807-bf0b-455c-b5a8-b62c60bc3acf" configuration="fragmentTitle=Syndication&amp;listCssClass=CommonSidebarList&amp;rss=True&amp;atom=True&amp;rssComments=True&amp;rssCss=rss&amp;enableSubscriptionForm=False&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=BlogSubscriptionItem&amp;validationCss=validationWarning&amp;enableSubscriptionHeader=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="db84cd7e-a02c-4b24-abd0-b0d823076a5f" configuration="fragmentTitle=Email+Notifications&amp;listCssClass=CommonSidebarList&amp;rss=False&amp;atom=False&amp;rssComments=False&amp;rssCss=rss&amp;enableSubscriptionForm=True&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=BlogSubscriptionItem&amp;validationCss=validationWarning&amp;enableSubscriptionHeader=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="f42fc1ec-4637-43b6-90e8-b7bb1a249c2b" configuration="fragmentTitle=News&amp;listCssClass=CommonSidebarList&amp;homePage=False&amp;contactForm=False&amp;about=False&amp;mailingList=False&amp;displayNews=True&amp;postControlPanel=False&amp;postEditor=False&amp;rss=False&amp;atom=False&amp;rssComments=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.LinkCategoryListContentFragment, CommunityServer.Blogs" id="6e8afd57-856c-4590-bca7-25ab692b39c7" configuration="fragmentTitle=Link+Category+List&amp;listCssClass=CommonSidebarList&amp;headerCss=sideheader+notop&amp;headerTag=H3" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
  </DynamicConfiguration>
</Theme>
