/* Comment Styles */

.WikiCommentArrow, .WikiCommentBubbleRoundTop, .WikiCommentBubbleRoundBottom, .WikiCommentUser
{
	display: none;
}

.WikiCommentBubble
{
	margin: 0;
}

.WikiCommentContent, .Owner .WikiCommentContent
{
	background-color: #fff;
	border: solid 1px #999;
	padding: .5em;
}