<?xml version="1.0" encoding="utf-8" ?>
<Theme title="Hawaii" previewImageUrl="~/themes/blogs/hawaii/preview.png" previewText="This is the default blog theme and inherits styles from the 'Hawaii' site theme. Also allows CSS to be overridden.">
  <Configuration>
    <Weblogs>
      <MediaSize maxWidth="0" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
  </Configuration>
  <DynamicConfiguration>
    <propertyGroup id="layout" resourceName="LayoutGeneral" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="maximumMediaWidth" resourceName="Maximum_Width" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_Width_Desc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" resourceName="Maximum_Height" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_HeightDesc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="0" />
      </propertySubGroup>
    </propertyGroup>
    <propertyGroup id="sidebar" text="Sidebar">
      <property id="DefaultBlogWidgets" text="Blog Sidebar Widgets" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
        <defaultValue>
          <![CDATA[
              <contentFragments>
				        <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="db84cd7e-a02c-4b24-abd0-b0d823076a5f" configuration="fragmentTitle=Syndication&amp;rss=True&amp;atom=True&amp;rssComments=True&amp;enableSubscriptionForm=True&amp;enableSubscriptionHeader=true&amp;listCssClass=CommonSidebarList&amp;rssCss=rss&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=BlogSubscriptionItem&amp;validationCss=validationWarning" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogPostListContentFragment, CommunityServer.Blogs" id="100891bd-118b-4ec5-8c05-008042373b6f" configuration="fragmentTitle=Recent+Posts&amp;pageSize=5&amp;containerCss=recentposts&amp;containerId=RecentPostsSideBar&amp;listCss=CommonSidebarList" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="f67cb7c0-c72e-49dc-beed-f15c297af7c3" configuration="fragmentTitle=Tags&amp;applicationType=Unknown&amp;ignoreFilterTags=False&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;showTagCounts=False&amp;noTagsText=No+tags+have+been+created+or+used+yet.&amp;linkTo=ContextualTagBrowser&amp;tagCloudCss=CommonSidebarTagCloud&amp;tagCss=CommonTag6%2cCommonTag5%2cCommonTag4%2cCommonTag3%2cCommonTag2%2cCommonTag1" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="38edbd5f-4b8d-4e22-a343-9dce6c460438" configuration="fragmentTitle=News&amp;homePage=False&amp;contactForm=False&amp;about=False&amp;mailingList=False&amp;displayNews=True&amp;postControlPanel=False&amp;postEditor=False&amp;rss=False&amp;atom=False&amp;rssComments=False&amp;listCssClass=CommonSidebarList" />
                <contentFragment type="CommunityServer.Blogs.Controls.LinkCategoryListContentFragment, CommunityServer.Blogs" id="f1dd8ea9-d18a-4372-a289-193b8a03c635" configuration="fragmentTitle=Blog+Link+Category+List&amp;listCssClass=CommonContentBoxList&amp;headerTag=H4&amp;headerCss=CommonContentBoxHeader" />
                <contentFragment type="CommunityServer.Blogs.Controls.ArchiveDataItemListContentFragment, CommunityServer.Blogs" id="681652e9-38f0-46fa-8b61-e0dd8c285bb4" configuration="fragmentTitle=Archives&amp;containerId=ArchiveSideBar&amp;listCss=CommonContentBoxList" />
              </contentFragments>
            ]]>
        </defaultValue>
      </property>
    </propertyGroup>
    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
  </DynamicConfiguration>
</Theme>