/*  Earth' alternate stylesheet for Poison Ivy skin for CS 1.1 */
body{
	background-color: #D9D1C6;
}
#header {
	background-color: #FFF;
}
 #nav {
	background-color: #B2AAA4;
	background-image: url(../Images/earthbottom.gif);
    }
#contentwrapper {
	background-color: #FFF;
	background-image: url(../Images/earthtop.gif);
}
#title {
	background-image: url(../Images/earthtop.gif);
}
a:visited,
a:active,
a:link {	
	color: #F89E59;
}
a:hover {
	color:#000000;
}
#contentfooter{
	background-image: url(../Images/earthfooter.gif);
}
#sidebar-a {
	border-left-color: #D9D1C6;
		}
.calNextPrev a:link, .calNextPrev a:active, .calNextPrev a:visited {
	color: #F89E59!important;
}
.calNextPrev a:hover {
	color: #000000!important;
}
#masthead {
	color: #333;
	border-bottom: 2px solid #B2AAA4;
	background: #FFF;
}
#masthead a:link, #masthead a:visited, #masthead a:active, #masthead a:hover {
	color: #F89E59;
}

/* Tag Styles */

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	color: #A84E09;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	color: #B85E19;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	color: #C86E29;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	color: #D87E39;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	color: #E88E49;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	color: #F89E59;
}
