/*  'Fire' alternate stylesheet for Poison Ivy skin for CS 1.1 */
html, body {
	color: #050505;
}
body{
	background-color: #FA8D20;
}
#header {
	background-color: #FAFAFA;
} 
#nav {
	background-color: #AD6217;
	background-image: url(../Images/firebottom.gif);
    }
#contentwrapper {
	background-color: #FAFAFA;
	background-image: url(../Images/firetop.gif);
}
#title {
	background-image: url(../Images/firetop.gif);
}
a:visited,
a:active,
a:link {	
	color: #FA4520;
}
a:hover {
	color:#000000;
}
#contentfooter{
	background-image: url(../Images/firefooter.gif);
}
#sidebar-a {
	border-left-color: #999;
		}
.calNextPrev a:link, .calNextPrev a:active, .calNextPrev a:visited {
	color: #FA4520!important;
}
.calNextPrev a:hover {
	color: #000000!important;
}
#masthead {
	color: #333;
	border-bottom: 2px solid #AD6217;
	background: #FAFAFA;
}
#masthead a:link, #masthead a:visited, #masthead a:active, #masthead a:hover {
	color: #FA4520;
}
/* Tag Styles */

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	color: #AA0000;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	color: #BA0500;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	color: #CA1500;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	color: #DA2500;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	color: #EA3510;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	color: #FA4520;
}
