<?xml version="1.0" encoding="utf-8" ?>
<Theme previewImageUrl="~/themes/blogs/Elemental/preview.png" previewText="Includes variations for Air, Earth, Fire, and Water and options for customizing fonts and colors.  Also allows CSS to be overridden.">
  <Configuration>
    <Weblogs>
      <MediaSize maxWidth="550" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
  </Configuration>
  <DynamicConfiguration>
    <propertyGroup id="themeVariation" text="Variations / General">
      <propertySubGroup text="Theme Variations">
        <property id="secondaryCssUrl" text="Variation" dataType="url" defaultValue="" descriptionText="Select a predefined theme variation.  When the variation is changed, any options that have not been customized will be updated to reflect the variation's predefined values.">
          <propertyValue value="" text="Ivy" />
          <propertyValue value="~/themes/blogs/Elemental/style/air.css" text="Air" />
          <propertyValue value="~/themes/blogs/Elemental/style/earth.css" text="Earth" />
          <propertyValue value="~/themes/blogs/Elemental/style/fire.css" text="Fire" />
          <propertyValue value="~/themes/blogs/Elemental/style/water.css" text="Water" />
          <propertyRule type="Telligent.DynamicConfiguration.Rules.ValueAutomationRule, Telligent.DynamicConfiguration" processImmediately="true">
            <checkValue value="">
              <setValue id="textColor" value="#333333" />
              <setValue id="linkColor" value="#497819" />
              <setValue id="visitedLinkColor" value="#497819" />
              <setValue id="activeLinkColor" value="#C4AA29" />
              <setValue id="subTitleColor" value="#497819" />
              <setValue id="sidebarLinkColor" value="#497819" />
              <setValue id="sidebarVisitedLinkColor" value="#497819" />
              <setValue id="sidebarActiveLinkColor" value="#C4AA29" />
            </checkValue>
            <checkValue value="~/themes/blogs/Elemental/style/air.css">
              <setValue id="textColor" value="#333333" />
              <setValue id="linkColor" value="#78798A" />
              <setValue id="visitedLinkColor" value="#78798A" />
              <setValue id="activeLinkColor" value="#A39F9B" />
              <setValue id="subTitleColor" value="#78798A" />
              <setValue id="sidebarLinkColor" value="#78798A" />
              <setValue id="sidebarVisitedLinkColor" value="#78798A" />
              <setValue id="sidebarActiveLinkColor" value="#A39F9B" />
            </checkValue>
            <checkValue value="~/themes/blogs/Elemental/style/earth.css">
              <setValue id="textColor" value="#333333" />
              <setValue id="linkColor" value="#F89E59" />
              <setValue id="visitedLinkColor" value="#F89E59" />
              <setValue id="activeLinkColor" value="#000000" />
              <setValue id="subTitleColor" value="#F89E59" />
              <setValue id="sidebarLinkColor" value="#F89E59" />
              <setValue id="sidebarVisitedLinkColor" value="#F89E59" />
              <setValue id="sidebarActiveLinkColor" value="#000000" />
            </checkValue>
            <checkValue value="~/themes/blogs/Elemental/style/fire.css">
              <setValue id="textColor" value="#050505" />
              <setValue id="linkColor" value="#FA4520" />
              <setValue id="visitedLinkColor" value="#FA4520" />
              <setValue id="activeLinkColor" value="#000000" />
              <setValue id="subTitleColor" value="#FA4520" />
              <setValue id="sidebarLinkColor" value="#FA4520" />
              <setValue id="sidebarVisitedLinkColor" value="#FA4520" />
              <setValue id="sidebarActiveLinkColor" value="#000000" />
            </checkValue>
            <checkValue value="~/themes/blogs/Elemental/style/water.css">
              <setValue id="textColor" value="#030303" />
              <setValue id="linkColor" value="#4271D6" />
              <setValue id="visitedLinkColor" value="#4271D6" />
              <setValue id="activeLinkColor" value="#E6EDFC" />
              <setValue id="subTitleColor" value="#4271D6" />
              <setValue id="sidebarLinkColor" value="#4271D6" />
              <setValue id="sidebarVisitedLinkColor" value="#4271D6" />
              <setValue id="sidebarActiveLinkColor" value="#E6EDFC" />
            </checkValue>
          </propertyRule>
        </property>
      </propertySubGroup>
      <propertySubGroup text="General Content">
        <property id="textColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the color for general text."  />
        <property id="textFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for general content of this blog."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Links">
        <property id="linkColor" text="Link Color" dataType="color" defaultValue="#497819" descriptionText="Select the color for links in the blog."  />
        <property id="visitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#497819" descriptionText="Select the color for links which have previously been visited."  />
        <property id="activeLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#C4AA29" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="maximumMediaWidth" resourceName="Maximum_Width" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_Width_Desc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" resourceName="Maximum_Height" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_HeightDesc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="0" />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="header" text="Header">
      <propertySubGroup text="Site Title">
        <property id="siteTitleColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the color for the blog title text."  />
        <property id="siteTitleFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="siteTitleFontSize" text="Font Size" dataType="string" defaultValue="1.5em" descriptionText="Select the font size for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.1em" text="Smallest" />
          <propertyValue value="1.3em" text="Smaller" />
          <propertyValue value="1.5em" text="Medium" />
          <propertyValue value="1.7em" text="Larger" />
          <propertyValue value="1.9em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Navigation Bar">
        <property id="navigationTabTextColor" text="Text Color" dataType="color" defaultValue="#ffffff" descriptionText="Select the color for the text on the navigation bar."  />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="body" text="Body">
      <propertySubGroup text="Page Title">
        <property id="titleColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the color for the text of page titles."  />
        <property id="titleFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="titleFontSize" text="Font Size" dataType="string" defaultValue="1.8em" descriptionText="Select the font size for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.2em" text="Smallest" />
          <propertyValue value="1.5em" text="Smaller" />
          <propertyValue value="1.8em" text="Medium" />
          <propertyValue value="2.1em" text="Larger" />
          <propertyValue value="2.4em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sub Title">
        <property id="subTitleColor" text="Text Color" dataType="color" defaultValue="#497819" descriptionText="Select the color for the text of page sub-titles."  />
        <property id="subTitleFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="subTitleFontSize" text="Font Size" dataType="string" defaultValue="1.5em" descriptionText="Select the font size for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.1em" text="Smallest" />
          <propertyValue value="1.3em" text="Smaller" />
          <propertyValue value="1.5em" text="Medium" />
          <propertyValue value="1.7em" text="Larger" />
          <propertyValue value="1.9em" text="Largest" />
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="sidebar" text="Sidebar">
      <propertySubGroup text="Sidebar Header">
        <property id="sidebarHeaderTextColor" text="Text Color" dataType="color" defaultValue="#999999" descriptionText="Select the text color for headers in the sidebars."  />
        <property id="sidebarHeaderFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for headers in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="sidebarHeaderFontSize" text="Font Size" dataType="string" defaultValue="1.2em" descriptionText="Select the font size for headers in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".8em" text="Smallest" />
          <propertyValue value="1em" text="Smaller" />
          <propertyValue value="1.2em" text="Medium" />
          <propertyValue value="1.4em" text="Larger" />
          <propertyValue value="1.6em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Content">
        <property id="sidebarTextColor" text="Text Color" dataType="color" defaultValue="#333333" descriptionText="Select the text color for content in the sidebars."  />
        <property id="sidebarFont" text="Font" dataType="string" defaultValue="Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for content in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="Trebuchet MS" text="Trebuchet MS" />
          <propertyValue value="Verdana, Arial, Helvetica, sans-serif" text="Verdana" />
        </property>
        <property id="sidebarFontSize" text="Font Size" dataType="string" defaultValue=".9em" descriptionText="Select the font size for content in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".5em" text="Smallest" />
          <propertyValue value=".7em" text="Smaller" />
          <propertyValue value=".9em" text="Medium" />
          <propertyValue value="1.1em" text="Larger" />
          <propertyValue value="1.3em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Links">
        <property id="sidebarLinkColor" text="Link Color" dataType="color" defaultValue="#497819" descriptionText="Select the color for links in the sidebars."  />
        <property id="sidebarVisitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#497819" descriptionText="Select the color for links which have previously been visited."  />
        <property id="sidebarActiveLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#C4AA29" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup resourceName="SidebarWidgets" resourceFile="ThemeResources.xml">
        <property id="ElementalBlogWidgets" text="Blog Sidebar Widgets" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="fc52f8b4-19d5-40c2-a854-d198d9bb59ed" configuration="fragmentTitle=Common+Tasks&amp;listCssClass=CommonSidebarList&amp;homePage=false&amp;contactForm=false&amp;about=false&amp;mailingList=false&amp;postControlPanel=True&amp;postEditor=True&amp;rss=false&amp;atom=false&amp;rssComments=false" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="e545b952-1cf5-44c8-b651-853a98e0ef02" configuration="fragmentTitle=Tags&amp;applicationType=Unknown&amp;ignoreFilterTags=True&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;showTagCounts=False&amp;noTagsText=No+tags+have+been+created+or+used+yet.&amp;linkTo=ContextualTagBrowser&amp;headerLinkTo=Nothing&amp;tagCloudCss=SidebarTagCloud&amp;tagCss=Tag6%2cTag5%2cTag4%2cTag3%2cTag2%2cTag1&amp;containerId=TagSideBar" />
                <contentFragment type="CommunityServer.Controls.NavigationListContentFragment, CommunityServer.Controls" id="2a165024-b8c3-49e9-9cac-fa5ac7d7fae6" configuration="fragmentTitle=Community&amp;containerId=NavSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="db84cd7e-a02c-4b24-abd0-b0d823076a5f" configuration="fragmentTitle=Email+Notifications&amp;listCssClass=CommonSidebarList&amp;rss=False&amp;atom=False&amp;rssComments=False&amp;enableSubscriptionForm=True&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=BlogSubscriptionItem&amp;validationCss=validationWarning&amp;enableSubscriptionHeader=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.ArchiveDataItemListContentFragment, CommunityServer.Blogs" id="a06a3573-120f-47b2-9e19-7ea00ed22570" configuration="fragmentTitle=Archives&amp;containerId=ArchiveSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.LinkCategoryListContentFragment, CommunityServer.Blogs" id="deba3271-08cb-4694-a16a-4bc5bb2b1e70" configuration="fragmentTitle=Link+Category+List&amp;listCssClass=CommonSidebarList" />
              </contentFragments>
            ]]>
            </defaultValue>
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
  </DynamicConfiguration>
</Theme>