<?xml version="1.0" encoding="utf-8" ?>
<Theme title="Hawaii" previewImageUrl="~/themes/Hubs/hawaii/preview.png" previewText="This group theme and inherits styles from the 'Hawaii' site theme. Also allows CSS to be overridden.">
  <Configuration>
    <MediaGalleries>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </MediaGalleries>
    <Weblogs>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
    <Wikis>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Wikis>
    <Forums>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Forums>
    <Hubs>
      <MediaSize maxWidth="650" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Hubs>
  </Configuration>
  <DynamicConfiguration>
    <propertyGroup id="layout" resourceName="LayoutGeneral" resourceFile="ThemeResources.xml">
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="maximumMediaWidth" resourceName="Maximum_Width" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_Width_Desc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" resourceName="Maximum_Height" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_HeightDesc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="0" />
      </propertySubGroup>
    </propertyGroup>
    <propertyGroup id="sidebar" resourceName="Sidebar" resourceFile="ThemeResources.xml">
      <property id="DefaultGroupWidgets" text="Group Widgets" applicationTypes="Hub,Forum,Weblog,MediaGallery,Wiki" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
        <defaultValue>
          <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="c41c2da6-9fd9-4e4f-94a8-3d0e197d04ce" configuration="fragmentTitle=Tags&amp;applicationType=Unknown&amp;ignoreFilterTags=False&amp;maximumTags=25&amp;minimumPostsPerTag=1&amp;filterTags=&amp;showTagCounts=False&amp;noTagsText=No+tags+have+been+created+or+used+yet.&amp;linkTo=ContextualTagBrowser&amp;headerLinkTo=ContextualTagBrowser&amp;tagCloudCss=CommonSidebarTagCloud&amp;tagCss=CommonTag6%2cCommonTag5%2cCommonTag4%2cCommonTag3%2cCommonTag2%2cCommonTag1&amp;containerId=" />
                <contentFragment type="CommunityServer.Hubs.Controls.HubListContentFragment, CommunityServer.Controls" id="8f588276-42ea-4ff4-bab3-5edd268df987" configuration="fragmentTitle=Related+Groups&amp;pageSize=6&amp;includeAvatar=True&amp;filterByGroup=True&amp;sortBy=LastPost&amp;sortOrder=Descending&amp;listCssClass=CommonSidebarList&amp;avatarWidth=60&amp;avatarHeight=60" />
                <contentFragment type="CommunityServer.Hubs.Controls.SectionMembershipContentFragment, CommunityServer.Controls" id="ea900c20-fcfb-46f0-9b32-4b872f62eb8d" configuration="fragmentTitle=Recent+Active+Members&amp;pageSize=5&amp;includeAvatar=False&amp;sortBy=UserLastActiveDate&amp;membershipType=Manager%2cMember%2cOwner&amp;sortOrder=Descending&amp;cssClass=CommonSidebarList&amp;avatarWidth=40&amp;avatarHeight=40" />
                <contentFragment type="CommunityServer.Wikis.Controls.WikiPageHierarchyContentFragment, CommunityServer.Wikis" id="053205b5-7601-494a-b1f9-07dfca9b2397" configuration="fragmentTitle=Table+of+Contents&amp;listCssClass=CommonHierarchicalList&amp;selectedItemCssClass=Selected&amp;expandedImageUrl=&amp;collapsedImageUrl=" />
                <contentFragment type="CommunityServer.Wikis.Controls.PageFilesContentFragment, CommunityServer.Wikis" id="c383f66a-9c76-4b03-b940-c4717e608afb" configuration="fragmentTitle=Attachments&amp;listCssClass=CommonSidebarList" />
                <contentFragment type="CommunityServer.Wikis.Controls.PageDetailsContentFragment, CommunityServer.Wikis" id="b5920911-a4e3-4c3b-bd1d-fbabbb9a6278" configuration="fragmentTitle=Page+Details&amp;detailsAreaCss=CustomWikiPageDetailsArea&amp;detailsTitleCss=CustomWikiPageDetailsTitle&amp;detailsAvatarCss=CustomWikiPageDetailsAvatar&amp;detailsContentCss=CustomWikiPageDetailsContent&amp;detailsSummaryCss=WikiPageDetailsSummaryArea" />
              </contentFragments>
            ]]>
        </defaultValue>
      </property>
    </propertyGroup>
    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
  </DynamicConfiguration>
</Theme>
