h1 a:visited,
h1 a:active,
h1 a:link {
	color : #000;
}

h1 a:hover {
	color : #093;
}

a:visited,
a:active,
a:link {
	color : #093;
}

#top {
	background-color : #CEA;
	color : #000;
	border-bottom : 4px solid #093;
}

p.date {
	border-bottom : 1px solid #AAA;	
}

#main {
	background-color : #EEE;
	border-bottom : 4px solid #093;
}

#comments h4 span {
	color : #999;
}

h3 {
	border-bottom : 1px solid #AAA;
}

table.CalendarTitle
{
	background-color : #FFF;
	border-bottom : 1px solid #093;
}

#masthead {
	color: #333;
	background: #CEA;
}
#masthead a:link, #masthead a:visited, #masthead a:active, #masthead a:hover {
	color: #093;
}

/* Tag Styles */

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	color: #040;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	color: #050;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	color: #060;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	color: #071;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	color: #082;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	color: #093;
}