<?xml version="1.0" encoding="utf-8" ?>
<Theme previewImageUrl="~/themes/blogs/gold coast/preview.png" previewText="Gold Coast uses an elastic layout that expands with browser width to a maximum of 950 pixels.  Includes variations for Sidebar on Right, Sidebar on Left, Light and Sidebar on Right, and Light and Sidebar on Left and options for customizing fonts, colors, and images.  Also allows CSS to be overridden.">
  <Configuration>
    <Weblogs>
      <MediaSize maxWidth="550" maxHeight="0" maxWidthProperty="maximumMediaWidth" maxHeightProperty="maximumMediaHeight" />
    </Weblogs>
  </Configuration>
  <DynamicConfiguration>
    <propertyGroup id="themeVariation" text="Variations / General">
      <propertySubGroup text="Theme Variations">
        <property id="secondaryCssUrl" text="Variation" dataType="url" defaultValue="" descriptionText="Select a predefined theme variation.  When the variation is changed, any options that have not been customized will be updated to reflect the variation's predefined values.">
          <propertyValue value="" text="Sidebar on Right" />
          <propertyValue value="~/themes/blogs/Gold%20Coast/style/left.css" text="Sidebar on Left" />
          <propertyValue value="~/themes/blogs/Gold%20Coast/style/light.css" text="Light and Sidebar on Right" />
          <propertyValue value="~/themes/blogs/Gold%20Coast/style/light%20left.css" text="Light and Sidebar on Left" />
          <propertyRule type="Telligent.DynamicConfiguration.Rules.ValueAutomationRule, Telligent.DynamicConfiguration" processImmediately="true">
            <checkValue value="">
              <setValue id="textColor" value="#ffffff" />
              <setValue id="siteBackgroundColor" value="#555555" />
              <setValue id="linkColor" value="#f4bf33" />
              <setValue id="visitedLinkColor" value="#f4bf33" />
              <setValue id="activeLinkColor" value="#f4bf33" />
              <setValue id="listBackgroundColor" value="#444444" />
              <setValue id="listBackgroundImage" value="~/themes/blogs/gold%20coast/images/gradient.jpg" />
              <setValue id="postBackgroundColor" value="#555555" />
              <setValue id="postBackgroundImage" value="~/themes/blogs/gold%20coast/images/gradient.jpg" />
              <setValue id="sidebarLinkColor" value="#f4bf33" />
              <setValue id="sidebarActiveLinkColor" value="#f4bf33" />
              <setValue id="sidebarVisitedLinkColor" value="#f4bf33" />
              <setValue id="titleColor" value="#ffffff" />
              <setValue id="subTitleColor" value="#f4bf33" />
              <setValue id="sidebarHeaderTextColor" value="#ffffff" />
              <setValue id="sidebarTextColor" value="#ffffff" />
            </checkValue>
            <checkValue value="~/themes/blogs/Gold%20Coast/style/left.css">
              <setValue id="textColor" value="#ffffff" />
              <setValue id="siteBackgroundColor" value="#555555" />
              <setValue id="linkColor" value="#f4bf33" />
              <setValue id="visitedLinkColor" value="#f4bf33" />
              <setValue id="activeLinkColor" value="#f4bf33" />
              <setValue id="listBackgroundColor" value="#444444" />
              <setValue id="listBackgroundImage" value="~/themes/blogs/gold%20coast/images/gradient.jpg" />
              <setValue id="postBackgroundColor" value="#555555" />
              <setValue id="postBackgroundImage" value="~/themes/blogs/gold%20coast/images/gradient.jpg" />
              <setValue id="sidebarLinkColor" value="#f4bf33" />
              <setValue id="sidebarActiveLinkColor" value="#f4bf33" />
              <setValue id="sidebarVisitedLinkColor" value="#f4bf33" />
              <setValue id="titleColor" value="#ffffff" />
              <setValue id="subTitleColor" value="#f4bf33" />
              <setValue id="sidebarHeaderTextColor" value="#ffffff" />
              <setValue id="sidebarTextColor" value="#ffffff" />
            </checkValue>
            <checkValue value="~/themes/blogs/Gold%20Coast/style/light.css">
              <setValue id="textColor" value="#555555" />
              <setValue id="siteBackgroundColor" value="#ffffff" />
              <setValue id="linkColor" value="#176db5" />
              <setValue id="visitedLinkColor" value="#176db5" />
              <setValue id="activeLinkColor" value="#176db5" />
              <setValue id="listBackgroundColor" value="#eee" />
              <setValue id="listBackgroundImage" value="~/themes/blogs/gold%20coast/images/lightgradient.jpg" />
              <setValue id="postBackgroundColor" value="#ffffff" />
              <setValue id="postBackgroundImage" value="~/themes/blogs/gold%20coast/images/lightgradient.jpg" />
              <setValue id="sidebarLinkColor" value="#176db5" />
              <setValue id="sidebarActiveLinkColor" value="#176db5" />
              <setValue id="sidebarVisitedLinkColor" value="#176db5" />
              <setValue id="titleColor" value="#555555" />
              <setValue id="subTitleColor" value="#176db5" />
              <setValue id="sidebarHeaderTextColor" value="#555555" />
              <setValue id="sidebarTextColor" value="#555555" />
            </checkValue>
            <checkValue value="~/themes/blogs/Gold%20Coast/style/light%20left.css">
              <setValue id="textColor" value="#555555" />
              <setValue id="siteBackgroundColor" value="#ffffff" />
              <setValue id="linkColor" value="#176db5" />
              <setValue id="visitedLinkColor" value="#176db5" />
              <setValue id="activeLinkColor" value="#176db5" />
              <setValue id="listBackgroundColor" value="#eee" />
              <setValue id="listBackgroundImage" value="~/themes/blogs/gold%20coast/images/lightgradient.jpg" />
              <setValue id="postBackgroundColor" value="#ffffff" />
              <setValue id="postBackgroundImage" value="~/themes/blogs/gold%20coast/images/lightgradient.jpg" />
              <setValue id="sidebarLinkColor" value="#176db5" />
              <setValue id="sidebarActiveLinkColor" value="#176db5" />
              <setValue id="sidebarVisitedLinkColor" value="#176db5" />
              <setValue id="titleColor" value="#555555" />
              <setValue id="subTitleColor" value="#176db5" />
              <setValue id="sidebarHeaderTextColor" value="#555555" />
              <setValue id="sidebarTextColor" value="#555555" />
            </checkValue>
          </propertyRule>
        </property>
      </propertySubGroup>
      <propertySubGroup text="General Content">
        <property id="textColor" text="Text Color" dataType="color" defaultValue="#ffffff" descriptionText="Select the color for general text."  />
        <property id="textFont" text="Font" dataType="string" defaultValue="Geneva, Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for general content of this blog."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Geneva, Verdana, Arial, Helvetica, sans-serif" text="Geneva" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Links">
        <property id="linkColor" text="Link Color" dataType="color" defaultValue="#f4bf33" descriptionText="Select the color for links in the blog."  />
        <property id="visitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#f4bf33" descriptionText="Select the color for links which have previously been visited."  />
        <property id="activeLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#f4bf33" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup text="Background">
        <property id="siteBackgroundColor" text="Background Color" dataType="color" defaultValue="#555555" descriptionText="Select the background color for this blog."  />
        <property id="siteBackgroundImage" text="Background Image URL" dataType="url" defaultValue="" descriptionText="Enter the URL of the image to tile as the background of this blog."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
      </propertySubGroup>
      <propertySubGroup resourceName="Layout" resourceFile="ThemeResources.xml">
        <property id="maximumMediaWidth" resourceName="Maximum_Width" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_Width_Desc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="550" />
        <property id="maximumMediaHeight" resourceName="Maximum_Height" resourceFile="ThemeResources.xml" descriptionResourceName="Maximum_HeightDesc" descriptionResourceFile="ThemeResources.xml" dataType="int" defaultValue="0" />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="header" text="Header">
      <propertySubGroup text="Site Title">
        <property id="siteTitleHeight" text="Height" dataType="unit" descriptionText="Select the height of the blog title." defaultValue="" />
        <property id="siteTitleBackgroundImage" text="Background Image URL" dataType="url" defaultValue="" descriptionText="Enter the URL of the image to tile as the background of the blog title bar."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
        <property id="siteTitleColor" text="Text Color" dataType="color" defaultValue="#f4bf33" descriptionText="Select the color for the blog title text."  />
        <property id="siteTitleFont" text="Font" dataType="string" defaultValue="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Geneva, Verdana, Arial, Helvetica, sans-serif" text="Geneva" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="siteTitleFontSize" text="Font Size" dataType="string" defaultValue="3.2em" descriptionText="Select the font size for the title of this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="2em" text="Smallest" />
          <propertyValue value="2.6em" text="Smaller" />
          <propertyValue value="3.2em" text="Medium" />
          <propertyValue value="3.8em" text="Larger" />
          <propertyValue value="4.4em" text="Largest" />
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="body" text="Body">
      <propertySubGroup text="Page Title">
        <property id="titleColor" text="Text Color" dataType="color" defaultValue="#ffffff" descriptionText="Select the color for the text of page titles."  />
        <property id="titleFont" text="Font" dataType="string" defaultValue="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Geneva, Verdana, Arial, Helvetica, sans-serif" text="Geneva" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="titleFontSize" text="Font Size" dataType="string" defaultValue="1.6em" descriptionText="Select the font size for titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.2em" text="Smallest" />
          <propertyValue value="1.4em" text="Smaller" />
          <propertyValue value="1.6em" text="Medium" />
          <propertyValue value="1.8em" text="Larger" />
          <propertyValue value="2em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sub Title">
        <property id="subTitleColor" text="Text Color" dataType="color" defaultValue="#f4bf33" descriptionText="Select the color for the text of page sub-titles."  />
        <property id="subTitleFont" text="Font" dataType="string" defaultValue="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Geneva, Verdana, Arial, Helvetica, sans-serif" text="Geneva" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="subTitleFontSize" text="Font Size" dataType="string" defaultValue="1.6em" descriptionText="Select the font size for sub-titles of pages on this blog." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value="1.2em" text="Smallest" />
          <propertyValue value="1.4em" text="Smaller" />
          <propertyValue value="1.6em" text="Medium" />
          <propertyValue value="1.8em" text="Larger" />
          <propertyValue value="2em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Lists">
        <property id="listBackgroundColor" text="Background Color" dataType="color" defaultValue="#444444" descriptionText="Select the background color for lists in this blog."  />
        <property id="listBackgroundImage" text="Background Image URL" dataType="url" defaultValue="~/themes/blogs/gold%20coast/images/gradient.jpg" descriptionText="Enter the URL of the image to tile as the background of lists in this blog."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
      </propertySubGroup>
      <propertySubGroup text="Posts">
        <property id="postBackgroundColor" text="Background Color" dataType="color" defaultValue="#555555" descriptionText="Select the background color for blog posts."  />
        <property id="postBackgroundImage" text="Background Image URL" dataType="url" defaultValue="~/themes/blogs/gold%20coast/images/gradient.jpg" descriptionText="Enter the URL of the image to tile horizontally as the background of blog posts."  controlType="CommunityServer.Blogs.Controls.BlogFileUrlControl, CommunityServer.Blogs" />
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="sidebar" text="Sidebar">
      <propertySubGroup text="Sidebar Header">
        <property id="sidebarHeaderTextColor" text="Text Color" dataType="color" defaultValue="#ffffff" descriptionText="Select the text color for headers in the sidebars."  />
        <property id="sidebarHeaderFont" text="Font" dataType="string" defaultValue="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for headers in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Geneva, Verdana, Arial, Helvetica, sans-serif" text="Geneva" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="sidebarHeaderFontSize" text="Font Size" dataType="string" defaultValue="1.3em" descriptionText="Select the font size for headers in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".9em" text="Smallest" />
          <propertyValue value="1.1em" text="Smaller" />
          <propertyValue value="1.3em" text="Medium" />
          <propertyValue value="1.5em" text="Larger" />
          <propertyValue value="1.7em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Content">
        <property id="sidebarTextColor" text="Text Color" dataType="color" defaultValue="#ffffff" descriptionText="Select the text color for content in the sidebars."  />
        <property id="sidebarFont" text="Font" dataType="string" defaultValue="Geneva, Verdana, Arial, Helvetica, sans-serif" descriptionText="Select the font for content in the sidebars."  controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-family">
          <propertyValue value="Andale Mono" text="Andale Mono" />
          <propertyValue value="Arial, Helvetica" text="Arial" />
          <propertyValue value="Arial Black, Arial, Helvetica" text="Arial Black" />
          <propertyValue value="Book Antiqua" text="Book Antiqua" />
          <propertyValue value="Comic Sans MS" text="Comic Sans MS" />
          <propertyValue value="Courier New" text="Courier New" />
          <propertyValue value="Geneva, Verdana, Arial, Helvetica, sans-serif" text="Geneva" />
          <propertyValue value="Georgia" text="Georgia" />
          <propertyValue value="Helvetica, Arial" text="Helvetica" />
          <propertyValue value="Impact" text="Impact" />
          <propertyValue value="Tahoma, Arial, Helvetica" text="Tahoma" />
          <propertyValue value="Terminal" text="Terminal" />
          <propertyValue value="Times New Roman" text="Times New Roman" />
          <propertyValue value="'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif" text="Trebuchet MS" />
          <propertyValue value="Verdana" text="Verdana" />
        </property>
        <property id="sidebarFontSize" text="Font Size" dataType="string" defaultValue=".9em" descriptionText="Select the font size for content in the sidebars." controlType="Telligent.DynamicConfiguration.Controls.CssValueSelectionControl, Telligent.DynamicConfiguration" cssPropertyName="font-size" width="200px" showStyleWhenSelected="false">
          <propertyValue value=".5em" text="Smallest" />
          <propertyValue value=".7em" text="Smaller" />
          <propertyValue value=".9em" text="Medium" />
          <propertyValue value="1.1em" text="Larger" />
          <propertyValue value="1.3em" text="Largest" />
        </property>
      </propertySubGroup>
      <propertySubGroup text="Sidebar Links">
        <property id="sidebarLinkColor" text="Link Color" dataType="color" defaultValue="#f4bf33" descriptionText="Select the color for links in the sidebars."  />
        <property id="sidebarVisitedLinkColor" text="Link Color (Visited)" dataType="color" defaultValue="#f4bf33" descriptionText="Select the color for links which have previously been visited."  />
        <property id="sidebarActiveLinkColor" text="Link Color (Active)" dataType="color" defaultValue="#f4bf33" descriptionText="Select the color for links which are currently being selected."  />
      </propertySubGroup>
      <propertySubGroup resourceName="SidebarWidgets" resourceFile="ThemeResources.xml">
        <property id="BlogWidgets" text="Blog Sidebar Widgets" applicationTypes="Weblog" dataType="Custom" controlType="CommunityServer.Controls.ContentFragmentsCustomControl, CommunityServer.Controls">
          <defaultValue>
            <![CDATA[
              <contentFragments>
                <contentFragment type="CommunityServer.Blogs.Controls.SearchFormContentFragment, CommunityServer.Blogs" id="d5ebd42e-48dd-49eb-a4db-31e401789494" configuration="fragmentTitle=Search&amp;searchCssClass=searchbox&amp;searchButtonCssClass=searchbutton&amp;wrapInList=False" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="fc52f8b4-19d5-40c2-a854-d198d9bb59ed" configuration="fragmentTitle=Common+Tasks&amp;listCssClass=CommonSidebarList&amp;homePage=false&amp;contactForm=false&amp;about=false&amp;mailingList=false&amp;postControlPanel=True&amp;postEditor=True&amp;rss=false&amp;atom=false&amp;rssComments=false" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="9be02c9f-0a10-4a6f-a586-55ea42cc32bf" configuration="fragmentTitle=This+Blog&amp;listCssClass=CommonSidebarList&amp;homePage=True&amp;contactForm=false&amp;about=false&amp;mailingList=false&amp;postControlPanel=True&amp;postEditor=false&amp;rss=false&amp;atom=false&amp;rssComments=false" />
                <contentFragment type="CommunityServer.Controls.TagCloudContentFragment, CommunityServer.Controls" id="e545b952-1cf5-44c8-b651-853a98e0ef02" configuration="fragmentTitle=Tags&amp;cssClass=SidebarTagCloud&amp;containerId=TagSideBar&amp;tagCssClasses=Tag6%2cTag5%2cTag4%2cTag3%2cTag2%2cTag1&amp;ignoreFilterTags=true&amp;enableNoTagsMessage=false" />
                <contentFragment type="CommunityServer.Controls.NavigationListContentFragment, CommunityServer.Controls" id="2a165024-b8c3-49e9-9cac-fa5ac7d7fae6" configuration="fragmentTitle=Community&amp;containerId=NavSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.ArchiveDataItemListContentFragment, CommunityServer.Blogs" id="a06a3573-120f-47b2-9e19-7ea00ed22570" configuration="fragmentTitle=Archives&amp;containerId=ArchiveSideBar" />
                <contentFragment type="CommunityServer.Blogs.Controls.LinkCategoryListContentFragment, CommunityServer.Blogs" id="6e8afd57-856c-4590-bca7-25ab692b39c7" configuration="fragmentTitle=Link+Category+List&amp;listCssClass=CommonSidebarList&amp;headerCss=sideheader&amp;headerTag=H4" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogSubscriptionContentFragment, CommunityServer.Blogs" id="db84cd7e-a02c-4b24-abd0-b0d823076a5f" configuration="fragmentTitle=Syndication&amp;listCssClass=CommonSidebarList&amp;rss=True&amp;atom=True&amp;rssComments=True&amp;rssCss=rss&amp;enableSubscriptionForm=True&amp;descriptionCss=BlogSubNotification&amp;headerCss=BlogSubscriptionItem&amp;textboxCss=searchbox&amp;validationCss=validationWarning&amp;enableSubscriptionHeader=True" />
                <contentFragment type="CommunityServer.Blogs.Controls.WeblogDataContentFragment, CommunityServer.Blogs" id="f1c555e8-de0f-4293-8d9a-b81b2c7a7551" configuration="fragmentTitle=News&amp;listCssClass=&amp;homePage=False&amp;contactForm=False&amp;about=False&amp;mailingList=False&amp;displayNews=True&amp;postControlPanel=False&amp;postEditor=False&amp;rss=False&amp;atom=False&amp;rssComments=False" />
              </contentFragments>
            ]]>
          </defaultValue>
        </property>
      </propertySubGroup>
    </propertyGroup>

    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
  </DynamicConfiguration>
</Theme>