/*  "Brown" variant of "Marvin3" skin for CS 1.0.*/

body {
	background-color : #DDC;
}

a:visited,
a:active,
a:link {
	color : #700;
}

h1 a:visited,
h1 a:active,
h1 a:link {
	color : #FFE;
}

h1 a:hover {
	color : #443;
}

/*Blog Header*/	
#header{
	background-color : #998;
	border-bottom : 4px solid #443;
}
#header p{{
	color : #FFE;
}

  
#content {
	background-color : #EED;
	border-bottom : 4px solid #443;
}
	

.altcomment{
	background-color: #FFF;
	}
	
.CalendarOtherMonth{
background-color : #DDC
}
#masthead {
	color: #DDC;
	background: #998;
}
#masthead a:link, #masthead a:visited, #masthead a:active, #masthead a:hover {
	color: #FFE;
}

/* Tag Styles */

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	color: #200;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	color: #300;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	color: #400;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	color: #500;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	color: #600;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	color: #700;
}

